html, body {
    width: 100%;
    font-size: 14px;
    color: black;
    word-break: normal;
    overflow-wrap: break-word;
}

html {
    box-sizing: border-box;
    cursor: default;
    font-family: sans-serif;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -webkit-locale: "ko";
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    /*    overflow-x:hidden;
        overflow-y:auto;*/
}

* {
    outline: none;
    font-family: inherit;
}

*, ::before, ::after {
    background-repeat: no-repeat;
    box-sizing: inherit;
}

img {
    border-style: none;

}

audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block;
}

div {
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
    background-color: transparent;
}

form {
    display: block;
    margin-top: 0em;
}

hr {
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
    padding-bottom: 3rem;
}

p, label {
    margin: 0px;
}

button {
    cursor: pointer;
    text-transform: none;
    overflow: visible;
    background-color: transparent;
    border-style: none;
    font-size: 1rem;
    margin: 0;
}

#app {
    background-color: white;
    min-height: 100%;
    min-width: 100%;
}

.appWrapper {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 768px;
    margin: 0px auto;
}

.header {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 20px;
}

.title {
    color: rgb(51, 61, 75);
    font-weight: bold;
    font-size: 24px;
}

.filter-button-wrapper {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
}

.filter-open-button-wrapper {
    display: flex;
    position: relative;
    -webkit-box-align: center;
    align-items: center;
}

.filter-button {
    width: auto;
    height: auto;
    line-height: 14px;
    padding: 11px 20px;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 5px;
    color: initial;
    font-size: 14px;
    font-weight: 500;
}

.category-filter-wrapper {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    border-bottom: 1px solid rgb(238, 238, 238);
    padding: 0 20px 20px 20px;
}


.category-list-wrapper {
    box-sizing: content-box;
    font-size: 17px;
    overflow: auto hidden;
    white-space: nowrap;
}

.category {
    margin-right: 20px;
    font-weight: bold;
    color: rgb(51, 151, 255);
}

.not-selected-category {
    font-weight: normal;
    color: black;
}

.diary-list-wrapper {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 30px 0;
}

.diary-section-header {
    margin: 20px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    line-height: 18px;
    font-size: 14px;
}

.diary-header {
    display: flex;
    max-width: calc(100% - 62px);
    font-size: 18px;
    line-height: 22px;
}

.diary-header-title {
    display: block;
    margin-right: 8px;
    font-weight: bold;
    color: black;
    font-size: inherit;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.diary-header-count {
    font-weight: 300;
}

.diary-list-wrapper > div{
    max-width: 385px;
    width: 100%;
    padding: 30px 20px;
    border-bottom: 1px solid rgb(238, 238, 238);
    border-left: 1px solid rgb(238, 238, 238);
    margin-left: -1px;
}

.profile-wrapper {
    margin-bottom: 15px;
    /*    display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;*/
}

.partner-profile-wrapper {
    display: flex;
}

.profile-image-wrapper {
    width: 36px;
    height: 36px;
    margin-right: 10px;
}

.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.member-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.name {
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    color: rgb(78, 89, 104);
}

.time {
    font-size: 12px;
    line-height: 12px;
    color: rgb(142, 151, 163);
}

.image-banner-wrapper {
    border-radius: 20px;
    overflow: hidden;
    background-color: rgb(242, 243, 246);
    backface-visibility: hidden;
    transform: translate3d(0px, 0px, 0px);
    width: 344px;
    height: 344px;
}

.diary-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.diary-title-wrapper {
    margin-top: 10px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    height: 45px;
    font-size: 13px;
    font-weight: 500;
    color: rgb(78, 89, 104);
    padding: 0px 20px;
    border: 1px solid rgb(229, 231, 234);
    border-radius: 20px;
    cursor: pointer;
}

.diary-title-container {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.diary-content-wrapper {
    margin-top: 18px;
    letter-spacing: -0.4px;
}

.diary-content {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 48px;
}

.expand-button {
    padding: 0px;
    color: rgb(171, 182, 196);
}

.pagination-wrapper {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    width: 100%;
    padding: 30px 0px;
    background-color: white;
}

.change-page {
    width: 40px;
    height: 40px;
    line-height: normal;
    padding: 0px;
    background-color: white;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    font-size: 18px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    outline: none;
}

.page-number {
    width: 40px;
    height: 40px;
    line-height: normal;
    padding: 0px;
    background-color: white;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    color: rgb(51, 151, 255);
    font-size: 18px;
    font-weight: bold;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    outline: none;
}

.not-selected {
    font-weight: normal;
    color: black;
}

/* 컨텐츠 */

.previewContents{
    width:768px;
    padding: 10px 0;
}

.previewContentsHeader{
    width:768px;
    height:22px;

    margin:0 0 30px;

    display:flex;
}
.previewContentsHeaderTitle{
    display:inline-block;

    width:250px;
    height:22px;
}
.previewContentsHeaderTitleText{
    width:250px;
    height:22px;

    font-size:18px;
    font-weight: bold;
    color: black;
    text-overflow: ellipsis;
}

.previewContentsHeaderTitleTextTotalGo{
    width:50px;
    height:22px;

    margin-left:700px;

    font-size:10px;
    font-weight: bold;
    color: gray;
    text-overflow: ellipsis;
}
.previewContentsLink{
    margin-left:450px;

    width:53px;
    height:17px;

    color:black;
    font-size:14px;

}
.previewContentsMain{
    width: 768px;
    display: flex;
    flex-flow: row wrap;
}

.previewContentMain{
    width:192px;

}

.image-wrapper {
    width: 180px;
    height: 180px;
}

.previewContentImage{
    display: initial;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.previewContentText{
    width:180px;
    height:106px;
    padding:10px 13px 0px 11px;
}

.preview-content-sub{
    color: rgb(119, 119, 119);
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    margin: 0px 0px 8px;
}

.preview-content-main{
    width:156px;
    margin:0px 0px 9px;
    font-size:14px;
    color:black;
    overflow:hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    word-break: keep-all;
    overflow-wrap: break-word;
}

/* 모달 */
.modal-container {
    position: fixed;
    top: 0px;
    left: 0px;
    /*display: flex;*/
    display:none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 3000;
    min-height: 1px;
}

.modal-flex {
    display: flex;
    flex-direction: row;
    max-width: 100%;
}

.modal-wrapper {
    position: relative;
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    overflow: hidden;
    z-index: 2;
    max-height: 80vh;
    border-radius: 5px;
}

.modal-header-wrapper {
    display: flex;
    justify-content: space-between;
    flex: 0 0 60px;
    align-items: center;
    padding: 0px 18px;
    font-weight: bold;
    border-bottom: 1px solid rgb(238, 238, 238);
}

.modal-country-header {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 22px;
}

.modal-title {
    line-height: 16px;
    font-size: 16px;
    font-weight: bold;
}

.close-btn {
    cursor: pointer;
    border: none;
    background-color: white;
}

.modal-div-wrapper {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    min-height: 0px;
    height: 100%;
}

.modal-country-section {
    padding: 0px 40px;
    min-width: 360px;
    height: 446px;
    overflow: scroll;
    overflow-x: hidden;
}

.modal-country-select {
    padding-top: 30px;
    padding-bottom: 10px;
}

.modal-country-name {
    padding-bottom: 20px;
    font-weight: bold;
}

.modal-country-box {
    font-family: inherit;
}

.modal-radio-input-wrapper {
    display: flex;
    position: relative;
    flex-flow: column wrap;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(238, 238, 238);
}

.modal-radio-input {
    display: inline-flex;
    font-size: 13px;
    min-height: 50px;
    justify-content: flex-start;
    align-items: center;
    flex-basis: auto;
    padding-right: initial;
}

.modal-label {
    cursor: pointer;
    width: 100%;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    height: 50px;
    font-size: 13px;
}

.modal-radio {
    display: inline-flex;
    position: relative;
    width: 18px;
    height: 18px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    background-image: url(/images/modal/modalInputBtn.svg);
}
.modal-radio-circle{
    width:13px;
    height:13px;
    border-radius:50%;
    border:1px solid white;
    background-color:white;
}
.modal-input {
    position: absolute;
    width: 0;
    height: 0;
    display: none;
}

.modal-footer-wrapper {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90px;
    padding: 20px;
    background-color: white;
}

.modal-footer-btn {
    width: 280px;
    height: 50px;
    line-height: 13px;
    padding: 20px 0px;
    background-color: rgb(51, 151, 255);
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    font-size: 13px;
    font-weight: bold;
    border: none;
}

.modal-color {
    position: absolute;
    inset: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.filter-title {
    padding-top: 30px;
    padding-bottom: 20px;
    font-weight: bold;
}

.include-filter:first-child {
    padding-top: 10px;
}

.input-label {
    cursor: pointer;
    width: 100%;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    height: 50px;
    font-size: 13px;
}

.checkbox-item-wrapper {
    position: relative;
    display: flex;
    line-height: 18px;
    cursor: pointer;
}

.checkbox-item-box {
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    width: 18px;
    height: 18px;
    text-align: center;
    margin-right: 0px;
    background-image: url(/images/modal/checkboxEmpty.svg);
}

.checkbox-item {
    position: absolute;
    width: 0px;
    height: 0px;
    opacity: 0;
}

/* 페이징 */
.pagination-wrapper {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    width: 100%;
    padding: 30px 0px;
    background-color: white;
}

.start-page {
    margin-right: 10px;
}

.end-page {
    margin-left: 10px;
}
.change-page {
    width: 40px;
    height: 40px;
    line-height: normal;
    padding: 0px;
    background-color: white;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    font-size: 18px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    outline: none;
}

.page-number {
    width: 40px;
    height: 40px;
    line-height: normal;
    padding: 0px;
    background-color: white;
    text-align: center;
    border-radius: 50%;
    color: rgb(51, 151, 255);
    font-size: 18px;
    font-weight: bold;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    outline: none;
    cursor: not-allowed;
    pointer-events: none;
}

.not-selected {
    font-weight: normal;
    color: black;
    cursor: pointer !important;
    pointer-events: auto !important;
}

.text-purple{
    color:purple;
}