<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.globalexchange.app.domain.vo.Criteria" alias="criteria"/>

        <typeAlias type="com.globalexchange.app.domain.vo.MemberVO" alias="memberVO"/>
        <typeAlias type="com.globalexchange.app.domain.vo.MemberDTO" alias="memberDTO"/>
        <typeAlias type="com.globalexchange.app.domain.vo.FileProfileVO" alias="fileProfileVO"/>

        <typeAlias type="com.globalexchange.app.domain.vo.MeetVO" alias="meetVO"/>
        <typeAlias type="com.globalexchange.app.domain.vo.MeetAnswerVO" alias="meetAnswerVO"/>
        <typeAlias type="com.globalexchange.app.domain.vo.MeetAnswerCommentVO" alias="meetAnswerCommentVO"/>
        <typeAlias type="com.globalexchange.app.domain.vo.MeetDTO" alias="meetDTO"/>
        <typeAlias type="com.globalexchange.app.domain.vo.FileMeetVO" alias="fileMeetVO"/>

        <typeAlias type="com.globalexchange.app.domain.vo.DiaryVO" alias="diaryVO"/>
        <typeAlias type="com.globalexchange.app.domain.vo.DiaryDTO" alias="diaryDTO"/>
        <typeAlias type="com.globalexchange.app.domain.vo.FileDiaryVO" alias="fileDiaryVO"/>
        <typeAlias type="com.globalexchange.app.domain.vo.DiaryCommentVO" alias="diaryCommentVO"/>
        <typeAlias type="com.globalexchange.app.domain.vo.DiaryCommentDTO" alias="diaryCommentDTO"/>

        <typeAlias type="com.globalexchange.app.domain.vo.LodgingVO" alias="lodgingVO"/>
        <typeAlias type="com.globalexchange.app.domain.vo.FileLodgingVO" alias="fileLodgingVO"/>
        <typeAlias type="com.globalexchange.app.domain.vo.LodgingAnswerVO" alias="lodgingAnswerVO"/>
        <typeAlias type="com.globalexchange.app.domain.vo.LodgingAnswerCommentVO" alias="lodgingAnswerCommentVO"/>

        <typeAlias type="com.globalexchange.app.domain.vo.NoticeVO" alias="noticeVO"/>


    </typeAliases>
</configuration>