<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>숙소가 필요해 작성 페이지</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap" rel="stylesheet">
  <link href="/css/main/header.css" rel="stylesheet" type="text/css" />
  <link href="/css/main/footer.css" rel="stylesheet" type="text/css" />
  <link href="/css/needLodging/write.css" rel="stylesheet" type="text/css" />

  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=2dedcb5b9a8bf1a8785a7e1907f9c2bd&libraries=services"></script>
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=2dedcb5b9a8bf1a8785a7e1907f9c2bd"></script>
</head>
<body>
<header th:replace="/main/header.html::topHeader(memberNumber = ${session.memberNumber}, memberNickname = ${session.memberNickname})"></header>
<header th:replace="/main/header.html :: #header"></header>

<div class="detail-page-wrapper">
  <form action="/needLodging/writeUpdateOk" method="post">
  <h2 class="write-title">숙소가 필요해</h2>
  <div class="detail-page">
    <div class="detail-page-container">
      <div class="header-section">
        <div class="header-image-section">
          <div class="image-wrapper">
            <label for="upload" >
              <img id="preview" src="/images/needLodging/filePlus.png"/>
            </label>
            <input type="file" accept="image/*" id="upload" class="header-image" onchange="readURL(this);">
          </div>
        </div>
        <div class="header-info">
          <div class="header-info-basic">
            <div class="header-info-title">
              <h1 class="title-content">제목</h1>
              <input id="lodgingTitle" name="lodgingTitle" class="title-reg" placeholder="제목을 입력하세요" >
            </div>
          </div>

          <div class="select-box">
            <h1 class="title-content select-box-title">내가 익숙한 언어</h1>
            <select id="memberTeachingLang" name = "myCountry" class="select-box-size">
              <option value = "ENGLISH" >영어</option>
              <option value = "SPANISH">스페인어</option>
              <option value = "FRENCH">프랑스어</option>
              <option value = "GERMAN">독일어</option>
              <option value = "ITALIAN">이탈리아어</option>
              <option value = "PORTUGUESE">포르투갈어</option>
              <option value = "RUSSIAN">러시아어</option>
              <option value = "JAPANESE">일본어</option>
              <option value = "CHINESE">중국어</option>
              <option value = "KOREAN">한국어</option>
            </select>
          </div>
          <div class="select-box">
            <h1 class="title-content select-box-title">도움을 원하는 언어</h1>
            <select id="lodgingLearningLang" name = "lodgingLearningLang" class="select-box-size">
              <option value = "ENGLISH" >영어</option>
              <option value = "SPANISH">스페인어</option>
              <option value = "FRENCH">프랑스어</option>
              <option value = "GERMAN">독일어</option>
              <option value = "ITALIAN">이탈리아어</option>
              <option value = "PORTUGUESE">포르투갈어</option>
              <option value = "RUSSIAN">러시아어</option>
              <option value = "JAPANESE">일본어</option>
              <option value = "CHINESE">중국어</option>
              <option value = "KOREAN">한국어</option>
            </select>
          </div>

          <div class="header-info-profile">
            <div class="profile-content-section">
              <div class="profile-image-section">
                <a href="#">
                  <div class="profile-image-wrapper">
                   <!-- <img src="https://res.cloudinary.com/frientrip/image/upload/ar_1:1,c_fill,dpr_2,f_auto,q_auto,w_56/576_blueguitar_1476154324950"
                         class="profile-image" alt="프로필 이미지">-->
                    <th:block th:if="${not #strings.isEmpty(lodgingDTO.fileProfileVO)}">
                      <img th:if="${lodgingDTO.fileProfileVO.fileImageCheck}" th:src="@{/fileProfile/display(fileName=${lodgingDTO.fileProfileVO.fileUploadPath} + '/' + ${lodgingDTO.fileProfileVO.fileUuid} + '_' + ${lodgingDTO.fileProfileVO.fileName})}" class="profile-image"/>
                      <img th:unless="${lodgingDTO.fileProfileVO.fileImageCheck}" src="/images/noImage/no-image.jpg" class="profile-image"/>
                    </th:block>
                    <th:block th:unless="${not #strings.isEmpty(lodgingDTO.fileProfileVO)}">

                      <img src="/images/noImage/no-image.jpg"  class="profile-image">
                    </th:block>
                  </div>
                </a>
              </div>
              <div class="profile-content">
                <div class="profile-name">
                  <a href="#">
                    <span class="profile-name-content" th:object="${lodgingDTO}">
                        <span  th:if="*{memberNickname}" th:text="*{memberNickname}"></span>
                        <span  th:unless="*{memberNickname}" >블루기타</span>
                        <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3E %3Cpath stroke='%23333' stroke-linecap='round' stroke-width='1.5' d='M6 3l5 5-5 5'/%3E %3C/svg%3E" alt="">
                      </span>
                      </span>
                  </a>
                </div>
                <span class="profile-plus"  th:if="${lodgingDTO.memberTeachingLang}" th:text="${lodgingDTO.memberTeachingLang}"></span>
                <span class="profile-plus"  th:unless="${lodgingDTO.memberTeachingLang}" >작성자 나라..?</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <section class="section">
        <article>
          <h2 class="article-title">내용</h2>
          <textarea name="lodgingContent" class="comment-reg" placeholder="내용을 입력하세요" th:text="${lodgingDTO.lodgingContent}"></textarea>

        </article>
      </section>

      <section class="section">
        <h2 class="article-title">장소</h2>
        <div class="address-wrapper">
          <input name="lodgingAddress" type="text" class="address" id="sample5_address" placeholder="주소" th:field="${lodgingDTO.lodgingAddress}">
          <input type="button" class="address-search" onclick="sample5_execDaumPostcode()" value="주소 검색">
        </div>

        <input name="lodgingDetailAddress" type="text" class="address address-detail" placeholder="상세주소" th:field="${lodgingDTO.lodgingDetailAddress}">
        <div id="map" style="width:300px;height:300px;margin-top:10px;display:none"></div>
      </section>

      <div class="comment-button">
        <button class="post-button">등록</button>
      </div>

    </div>
  </div>

    <input type="hidden" name="fileLodgingVO.fileName"/>
    <input type="hidden" name="fileLodgingVO.fileUploadPath"/>
    <input type="hidden" name="fileLodgingVO.fileUuid"/>
    <input type="hidden" name="fileLodgingVO.fileImageCheck"/>
    <input type="hidden" name="fileLodgingVO.fileSize"/>
    <input type="hidden" th:field="${lodgingDTO.memberNumber}"/>
    <input type="hidden" th:field="${lodgingDTO.lodgingNumber}"/>
  </form>
</div>

<footer th:replace="/main/footer.html :: #footerFirst"></footer>

</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script th:inline="javascript">
  let originLodgingLearningLang = [[${lodgingDTO.lodgingLearningLang}]];
  let originLodgingTeachingLang = [[${lodgingDTO.memberTeachingLang}]];
  let originLodgingTitle = [[${lodgingDTO.lodgingTitle}]];
  console.log(originLodgingLearningLang);
  console.log(originLodgingTeachingLang);
  $("#lodgingLearningLang").val(originLodgingLearningLang).prop("selected", true);
  $("#memberTeachingLang").val(originLodgingTeachingLang).prop("selected", true);
  $('#lodgingTitle').attr('value',originLodgingTitle);

    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new daum.maps.LatLng(37.537187, 127.005476), // 지도의 중심좌표
            level: 5 // 지도의 확대 레벨
        };

    //지도를 미리 생성
    var map = new daum.maps.Map(mapContainer, mapOption);
    //주소-좌표 변환 객체를 생성
    var geocoder = new daum.maps.services.Geocoder();
    //마커를 미리 생성
    var marker = new daum.maps.Marker({
        position: new daum.maps.LatLng(37.537187, 127.005476),
        map: map
    });


    function sample5_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                var addr = data.address; // 최종 주소 변수

                // 주소 정보를 해당 필드에 넣는다.
                document.getElementById("sample5_address").value = addr;
                // 주소로 상세 정보를 검색
                geocoder.addressSearch(data.address, function(results, status) {
                    // 정상적으로 검색이 완료됐으면
                    if (status === daum.maps.services.Status.OK) {

                        var result = results[0]; //첫번째 결과의 값을 활용

                        // 해당 주소에 대한 좌표를 받아서
                        var coords = new daum.maps.LatLng(result.y, result.x);
                        // 지도를 보여준다.
                        mapContainer.style.display = "block";
                        map.relayout();
                        // 지도 중심을 변경한다.
                        map.setCenter(coords);
                        // 마커를 결과값으로 받은 위치로 옮긴다.
                        marker.setPosition(coords)
                    }
                });
            }
        }).open();
    }

    function readURL(input) {
        if (input.files && input.files[0]) {
          var reader = new FileReader();
          reader.readAsDataURL(input.files[0]);
          reader.onload = function(e) {


            let url = e.target.result;

            // 이미지 파일인지 검사
            if(url.includes("image")){
              // 기존 이미지에서 썸네일 이미지로 대체
              //document.querySelector("label div").style.backgroundImage = "url(" + url +")";
              document.getElementById('preview').src = e.target.result;
            }else{
              // 미리 준비해놓은 이미지로 대체
              //document.querySelector("label div").style.backgroundImage = "url(no-image.jpg)";
              document.getElementById('preview').src="/images/meetingAndHelp/filePlus.png";
            }
          };

        } else {
          document.getElementById('preview').src = "/images/meetingAndHelp/filePlus.png";
        }

        // 사용자가 업로드한 파일을 c드라이브 폴더에 넣는다
      let formData = new FormData();
      let file = input.files[0];

      /*$(files).each(function(i, file){
        formData.append("upload", file);
      });*/
      formData.append("upload", file);
      $.ajax({
        url: "/fileLodging/upload",
        type: "post",
        data: formData,
        contentType: false,
        processData: false,
        success:sendFileDB
      });


      function sendFileDB(file){
        fileName=file.fileName;
        fileUploadPath=file.fileUploadPath;
        fileUuid=file.fileUuid;
        fileImageCheck=file.fileImageCheck;
        fileSize=file.fileSize;

        $("input[name='fileLodgingVO.fileName']").val(fileName);
        $("input[name='fileLodgingVO.fileUploadPath']").val(fileUploadPath);
        $("input[name='fileLodgingVO.fileUuid']").val(fileUuid);
        $("input[name='fileLodgingVO.fileImageCheck']").val(fileImageCheck);
        $("input[name='fileLodgingVO.fileSize']").val(fileSize);
      }
    }
</script>

<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script th:inline="javascript">


  let memberNumber=[[${session.memberNumber}]];



</script>
<script src="/js/main/header.js" ></script>
</html>