*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family: "Noto Sans KR",sans-serif;
}
body{-ms-overflow-style:none; }

body::-webkit-scrollbar { display:none; }

/*a{
    text-decoration:none;
    color:white;
}*/

a {
    color: inherit;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}

#logobox{
    width:1474px;
    margin:0 auto;
    height:100px;
    margin-top:50px;
}

#logo{
    display:inline-block;
    width:230px;
    height:100px;
    background-size:100%;
    background-repeat:no-repeat;
    position:fixed;
}

#logo a{
    display:inline-block;
    width:100%;
    height:100%;
}

#logo a img {
    width: 220px;
    height: 80px;
}

#main_body{
    width:1474px;
    height:1000px;
    margin: 0 auto;
    display:flex;
    overflow:scroll;
}

#subnavigation{
    display:inline-block;
    width:230px;
    background-color:#293a50;
    height:1000px;
    color:white;
    position:fixed;
    overflow:scroll;
}

#subnavigation{-ms-overflow-style:none; }

#subnavigation::-webkit-scrollbar { display:none; }

ul,li{
    display:inline-block;
    list-style:none;
}

#subnavigation>ul{
    width:100%;

}
#subnavigation>ul>li{
    width:100%;
    text-align:left;
}

.menu a{
    cursor:pointer;
    display:inline-block;
    width:100%;
    line-height:52px;
    height:52px;
    display:flex;
}

.menu>a:hover{
    background-color:#3a495e;
    color: #AB72EC;
}

.menu>a>span:first-child{
    display:inline-block;
    width:150px;
    height: 52px;
    margin-left:10px;
}
.menu>a>span:nth-child(2){
    display:inline-block;
    width:20px;
    height:20px;
    margin-left:20px;
    margin-top:15px;
}

.menu .hide{
    display:none;
    width:100%;
}

.hide > li{
    display:inline-block;
    width:100%;
    height:46px;
}

.hide li a{
    display:inline-block;
    margin-left:50px;
    line-height:46px;
}

.hide li a:hover {
    color: #AB72EC;
}

.clickcolor{
    background-color:#5468e2;
}

.normalcolor{
    background-color:#2d3e53;
}

#subnavigation_result{
    width:1244px;
    display:inline-block;
    height:100%;
    margin-left:230px;
    overflow:scroll;

}

#subnavigation_result{-ms-overflow-style:none; }

#subnavigation_result::-webkit-scrollbar { display:none; }

#subnavigation_result_header{
    width:100%;
    height:262px;
    padding: 0 0 30px 65px;
    margin: 0 0 10px 0;
    background-image: url("https://sportal.skuniv.ac.kr/img/sub-header-wave.38797bec.svg"),linear-gradient(90deg,#8521FF 0,#A250FF 35%,#AB72EC);
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-size: cover;
}

#subnavigation_result_title{
    padding-top: 75px;
    padding-bottom: 20px;
    color: #fff;
}

#subnavigation_result_title>h2{
    display:inline-block;
    font-size: 38px;
    letter-spacing: -2px;
    font-weight: 400;
}

#subnavigation_result_title>span{
    margin-left: 20px;
    word-break: keep-all;
    word-wrap: break-word;
    font-size: 15px;
    letter-spacing: -1px;
}

#subnavigation_how_array{
    width:504px;
    height:80px;
    display:flex;
}

.subnavigation_how{
    width:196px;
    height:80px;
    padding:12px;
}


.subnavigation_how_title{
    width:80px;
    height:15px;
    color:#ffffffb3;

    font-family: Spoqa Han Sans,sans-serif;
}

.subnavigation_how_main{
    width:173px;
    height:40px;
    padding-top:5px;
}

.subnavigation_how_main>select{
    display:inline-block;
    height:100%;
    width:100%;

    background:transparent;
    border:0px;
    border-bottom:1px solid white;

    /*color:white;*/
    font-family: Spoqa Han Sans,sans-serif;
}

.selectnormalcolor{
    color:white;
}

.selectclickcolor{
    color:#383838;
}

#subnavigation_result_body{
    width:1244px;
    height:600px;
    margin:12px 0px 80px;
    padding: 35px 65px;

    background-color:white;
}

#subnavigation_result_body{-ms-overflow-style:none; }

#subnavigation_result_body::-webkit-scrollbar { display:none; }

#subnavigation_list{
    width:100%;
    border-top:2px solid black;
}

.subnavigation_list_detail{
    height:50px;
    border-bottom:1px solid rgb(238, 238, 238);
    color:#383838;
}

.subnavigation_list_detail > span:nth-child(1){
    font-size: 16px;
    font-weight: 700;
    color:#2c405a;
    width:300px;
    display:inline-block;
    text-align:center;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
    line-height:50px;
}

.subnavigation_list_detail > input:nth-child(2){
    display:inline-block;
    vertical-align:top;
    width:700px;
    height:100%;
    padding-left:30px;
    outline:none;
    border:0;
    border-left:1px solid rgb(238, 238, 238);
    font-size:16px;
    color:#383838;
}

.warning {
    color: #eb385e !important;
}

.content-style {
    height: 380px;
}

textarea {
    display:inline-block;
    vertical-align:top;
    width:800px;
    height:100%;
    padding-left:30px;
    padding-top: 10px;
    outline:none;
    border:0;
    border-left:1px solid rgb(238, 238, 238);
    font-size:16px;
    color:#383838;
    box-sizing: border-box;
    resize: none;
}

pre {
    display:inline-block;
    vertical-align:top;
    width:800px;
    height:100%;
    padding-left:30px;
    padding-top: 10px;
    outline:none;
    border:0;
    border-left:1px solid rgb(238, 238, 238);
    font-size:16px;
    color:#383838;
    box-sizing: border-box;
    resize: none;
}

.button-conatiner {
    display: block;
    width: 100%;
    margin-top: 20px;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-style:hover {
    box-shadow: none;
    transform: translateY(-1px);
    text-decoration: none;
    cursor: pointer;
}

.button-style {
    color: #ffffff;
    background-color: #7a29fa;
    font-size: .8125rem;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 0.7rem 1.5rem;
    line-height: 1.5;
    border-radius: 0.375rem;
    margin-right: 0.7rem;
}