*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
    background-color: transparent;
}

#root {
    width:100%;
    max-width: 808px;
    margin: 0 auto;
    padding: 0 20px;

}

#root > h1 {
    margin: 30px 0px 20px;
    line-height: 24px;
    font-size: 24px;
    font-weight: bold;

}

#noticeAll {
    border-bottom: 1px solid rgb(238, 238, 238);
    padding: 20px 0px;
    white-space: nowrap;
    overflow: auto;

}

#noticeAll > span {
    color: rgb(51, 151, 255);
    cursor: pointer;
}

#noticeList {
    list-style: none;
}

.notice-wrapper {
    display: flex;
    justify-content: space-between;
    min-height: 60px;
    line-height: 24px;
    padding: 18px 0px;
    font-size: 14px;
    cursor: pointer;
    border-bottom: 1px solid rgb(230, 230, 230);
}

.notice-mark {
    margin-left: 0px;
    margin-right: 21px;
    width: 48px;
    height: 20px;
    line-height: 20px;
    border-radius: 5px;
    padding: 0px 6px;
    font-size: 10px;
    font-weight: bold;
    color: white;
    text-align: center;
    background-color: rgb(51, 151, 255);
    flex: 0 0 auto;
}

.notice-title {
    flex: 1 1 auto;
}

.notice-title > span {
    margin-left: 5px;
    color: rgb(255, 102, 102);
    font-weight: bold;
}

.notice-date {
    flex: 0 0 auto;
    margin-left: 10px;
    color: rgb(155, 155, 155);
    font-size: 12px;
    font-weight: normal;
}

.notice-content {
    width: 100%;
    min-height: 84px;
    padding: 20px;
    background-color: rgb(239, 247, 255);
    color: rgb(74, 74, 74);
    font-size: 14px;
    line-height: 24px;
    display: none;
}

.notice-content-text {
    padding: 10px;
    background-color: rgb(239, 247, 255);
    color: rgb(74, 74, 74);
    font-size: 14px;
    line-height: 24px;
}

/* 페이징 */
.pagination-wrapper {
         display: flex;
         -webkit-box-pack: center;
         justify-content: center;
         -webkit-box-flex: 0;
         flex: 0 0 auto;
         width: 100%;
         padding: 30px 0px;
         background-color: white;
}

.start-page {
    margin-right: 10px;
}

.end-page {
    margin-left: 10px;
}
.change-page {
    width: 40px;
    height: 40px;
    line-height: normal;
    padding: 0px;
    background-color: white;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    font-size: 18px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    outline: none;
}

.page-number {
    width: 40px;
    height: 40px;
    line-height: normal;
    padding: 0px;
    background-color: white;
    text-align: center;
    border-radius: 50%;
    color: rgb(51, 151, 255);
    font-size: 18px;
    font-weight: bold;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    outline: none;
    cursor: not-allowed;
    pointer-events: none;
}

.not-selected {
    font-weight: normal;
    color: black;
    cursor: pointer !important;
    pointer-events: auto !important;
}























































































