<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>diary detail</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <link href="/css/main/header.css" rel="stylesheet" type="text/css" />
    <link href="/css/main/footer.css" rel="stylesheet" type="text/css" />
    <link href="/css/diary/detail.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="app">
        <div class="appWrapper">
            <!-- header -->
            <div th:replace="/main/header.html:: topHeader "></div>
            <div th:replace="/main/header.html:: header "></div>

            <!-- main -->
            <div class="wrapper">
                <div class="content-wrapper">
                    <div class="diary-detail-container">
                        <div class="header-section-wrapper">
                            <div class="image-wrapper">
                                <img class="image" src="/images/diary/bread.jpg" width="375">
                            </div>

<!--                            <div class="image-input-box">
                                <div class="files">
                                    <div>
                                        <label for="board_file1" style="display:inline;">
                                            <img id="board_file1Img" src="/images/diary/plusImage.png" width="110px" height="110px" style="display:inline;">
                                        </label>
                                    </div>
                                    <input id="board_file1" name="board_file1" type="file" hidden>
                                    <input type="button" onclick="cancelFile('board_file1')" value="첨부 삭제">
                                </div>
                            </div>-->

                            <div class="info-wrapper">
                                <section class="date-info-section">
                                    <div class="date-wrapper">
                                        <input class="date-selector" id="dateSelector">
                                    </div>
                                </section>
                                <section class="partner-profile-section">
                                    <div class="profile-wrapper">
                                        <div class="profile">
                                            <div class="profile-info">
                                                <div class="profile-image">
                                                    <a href="javascript:void(0)">
                                                        <div class="image-wrapper">
                                                            <img class="profile-img-style" src="/images/member/sample2.png">
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="profile-content">
                                                    <div class="partner-name-wrapper">
                                                        <a href="javascript:void(0)">
                                                            <span class="partner-nickname">
                                                                Tom Cruise
                                                            </span>
                                                        </a>
                                                    </div>
                                                    <span class="partner-nation">
                                                        미국
                                                    </span>
                                                </div>
                                            </div>
                                            <a href="javascript:void(0)">
                                                <img class="nation-img-style" src="/images/main/americaIcon.png">
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                        <section class="section-container">
                            <div class="section-title">
                                <h2>교환 일기</h2>
                            </div>
                            <div class="form-container">
                                <form name="diaryForm">
                                    <div class="input-container">
                                        <div class="row">
                                            <div class="col-left">
                                                <div class="input-label-style">
                                                    <span class="text-danger">*</span>
                                                    <span class="input-subject">제목</span>
                                                </div>
                                            </div>
                                            <div class="col-right">
                                                <div class="input-group">
                                                    <input type="text" maxlength="40" required="required"
                                                           placeholder="일기의 제목을 작성해주세요." class="input-text"
                                                           value="No Bread Day" disabled>
                                                    </input>
                                                    <div class="input-text-append">
                                                        <span class="text-muted-container">
                                                            <small class="text-muted"> 12 / 40</small>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-container">
                                        <hr>
                                        <div class="row">
                                            <div class="col-left">
                                                <div class="input-label-style">
                                                    <span class="text-danger">*</span>
                                                    <span class="input-subject">내용</span>
                                                </div>
                                            </div>
                                            <div class="col-right">
                                                <div class="input-group">
                                                    <textarea id="summernote" name="diaryContent">
Today I woke up early in the morning. I went to buy some breads from my favorite bakery, called 'Seoul Baguette'. When I arrived the bakery, I found there were no bread left. So I had to came back with empty hands. It was sad day : (
                                                    </textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>
                    </div>
                </div>
            </div>

            <!-- footer -->
            <div th:replace="/main/footer.html:: footerFirst"></div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>

<!-- flatpickr -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://npmcdn.com/flatpickr/dist/flatpickr.min.js"></script>
<script src="https://npmcdn.com/flatpickr/dist/l10n/ko.js"></script>

<!-- summernote -->
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>

<script>
    var dateSelector = document.querySelector('#dateSelector');
    dateSelector.flatpickr();

    flatpickr.localize(flatpickr.l10ns.ko);
    flatpickr(dateSelector);

    dateSelector.flatpickr({
        local: 'ko',
        inline: true,
        defaultDate: "2022-11-21",
        enable:[
            "2022-11-21"
        ]
        /*maxDate: "2022-11-21"*/
    });

    $('#summernote').summernote({
        height: 300,                 // 에디터 높이
        width: 700,
        minHeight: 500,             // 최소 높이
        maxHeight: null,             // 최대 높이
        focus: true,                  // 에디터 로딩후 포커스를 맞출지 여부
        lang: "ko-KR",					// 한글 설정
        placeholder: '일기 내용을 작성해주세요.',	//placeholder 설정
        toolbar: [
            ['style', ['bold', 'italic', 'underline', 'strikethrough', 'superscript', 'subscript', 'clear']],
            ['fontsize', ['fontsize']],
            ['color', ['forecolor','backcolor', 'clear']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['view', ['help']]
        ]
    });

    $('#summernote').summernote('disable');

    // $('#summernote').summernote('disable');

    // $('#summernote').summernote('enable');

/*    if ($('#summernote').summernote('isEmpty')) {
        alert('editor content is empty');
    }*/

    // $('#summernote').summernote('reset');
</script>
</html>