<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>diary detail</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <link href="/css/main/header.css" rel="stylesheet" type="text/css" />
    <link href="/css/main/footer.css" rel="stylesheet" type="text/css" />
    <link href="/css/diary/partnerDetail.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="app">
    <div class="appWrapper">
        <!-- header -->
        <div th:replace="/main/header.html::topHeader(memberNumber = ${session.memberNumber}, memberNickname = ${session.memberNickname})"></div>
        <div th:replace="/main/header.html:: header"></div>

        <!-- main -->
        <div class="wrapper">
            <div class="content-wrapper">
                <div class="diary-detail-container">
                    <div class="header-section-wrapper" th:object="${partner}">
                        <div class="image-wrapper">
                            <th:block th:if="${not #strings.isEmpty(partner.fileProfileVO)}">
                                <img class="header-image" th:if="*{fileProfileVO.fileImageCheck}" th:src="@{/fileDiary/display(fileName=*{fileProfileVO.fileUploadPath} + '/s_' + *{fileProfileVO.fileUuid} + '_' + *{fileProfileVO.fileName})}">
                                <img class="header-image" th:unless="*{fileProfileVO.fileImageCheck}" th:src="@{/images/member/defaultProfileImg.png}" width="375">
                            </th:block>
                            <th:block th:unless="${not #strings.isEmpty(partner.fileProfileVO)}">
                            </th:block>
                            <img class="header-image" src="/images/member/defaultProfileImg.png" width="375">
                        </div>
                        <div class="info-wrapper">
                            <div class="mypage-user-property-container">
                                <div>
                                    <div class="user-property-title">
                                        <span th:text="*{memberNickname}"></span>님이<br> 작성한 교환일기 수
                                    </div>
                                    <div class="user-property-value" th:text="*{diaryTotal}">
                                    </div>
                                </div>
                                <div>
                                    <div class="user-property-title">
                                        <span th:text="*{memberNickname}"></span>님이<br> 작성한 게시글 수
                                    </div>
                                    <div class="user-property-value" th:text="*{postTotal}">
                                    </div>
                                </div>
                                <div>
                                    <div class="user-property-title">
                                        <span th:text="*{memberNickname}"></span>님이<br> 작성한 답글 수
                                    </div>
                                    <div class="user-property-value" th:text="*{answerTotal}">
                                    </div>
                                </div>
                            </div>
                            <section class="partner-profile-section">
                                <div class="partner-profile-wrapper">
                                    <div class="partner-nickname">
                                        닉네임
                                    </div>
                                    <div class="partner-nickname" th:text="*{memberNickname}">
                                    </div>
                                </div>
                                <div class="partner-profile-wrapper">
                                    <div class="partner-nickname">
                                        익숙한 언어
                                    </div>
                                    <div class="img-wrapper">
                                        <div th:text="*{memberTeachingLang}">
                                        </div>
                                        <!--<img class="nation-img-style" src="/images/noImage/no-image.jpg">-->
                                        <img class="nation-img-style"  th:src="@{*{memberNationUrl}}" width="375">
                                    </div>
                                </div>
                                <div class="partner-profile-wrapper">
                                    <div class="partner-nickname">
                                        배우고 싶은 언어
                                    </div>
                                    <div class="img-wrapper">
                                        <div th:text="*{memberLearningLang}">
                                            ENGLISH
                                        </div>
                                        <!--<img class="nation-img-style" src="/images/noImage/no-image.jpg">-->
                                        <img class="nation-img-style"  th:src="@{*{memberLearningUrl}}" width="375">
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <section class="section-container" th:object="${partner}">
                        <div class="section-title">
                            <h2>교환일기 파트너 프로파일</h2>
                            <div>
                                <button class="frip-btn" type="button" onclick="applyModalOpen()" th:if="${session.memberNumber != null and session.memberNumber != partner.memberNumber}">
                                    파트너 신청하기
                                    <!-- 시간 여유가 된다면 AJAX로 검사해서 경고창 띄우기 -->
                                </button>
                                <button class="frip-btn" type="button" onclick="goPartnerList()">
                                    목록으로
                                </button>
                                <button class="secondary-btn" type="button" onclick="reportModalOpen()" th:if="${session.memberNumber != null and session.memberNumber != partner.memberNumber}">
                                    신고하기
                                </button>
                            </div>
                        </div>
                        <div class="form-container">
                            <form name="diaryForm">
                                <div class="input-container">
                                    <div class="row">
                                        <div class="col-left">
                                            <div class="input-label-style">
                                                <span class="input-subject">닉네임</span>
                                            </div>
                                        </div>
                                        <div class="col-right">
                                            <div class="input-group">
                                                <input type="text" class="input-text" readonly th:field="*{memberNickname}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-container">
                                    <div class="row">
                                        <div class="col-left">
                                            <div class="input-label-style">
                                                <span class="input-subject">이메일</span>
                                            </div>
                                        </div>
                                        <div class="col-right">
                                            <div class="input-group">
                                                <input type="text" class="input-text" readonly th:field="*{memberId}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-container">
                                    <div class="row">
                                        <div class="col-left">
                                            <div class="input-label-style">
                                                <span class="input-subject">생년월일</span>
                                            </div>
                                        </div>
                                        <div class="col-right">
                                            <div class="input-group">
                                                <input type="text" class="input-text" readonly th:field="*{memberBirthdate}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-container">
                                    <div class="row">
                                        <div class="col-left">
                                            <div class="input-label-style">
                                                <span class="input-subject">성별</span>
                                            </div>
                                        </div>
                                        <div class="col-right">
                                            <div class="input-group">
                                                <input type="text" class="input-text" readonly th:if="${partner.memberGender == M}" value="남자">
                                                <input type="text" class="input-text" readonly th:unless="${partner.memberGender == M}" value="여자">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-container">
                                    <div class="row">
                                        <div class="col-left">
                                            <div class="input-label-style">
                                                <span class="input-subject">관심사</span>
                                            </div>
                                        </div>
                                        <div class="col-right">
                                            <div class="input-group">
                                                <input type="text" class="input-text" readonly th:field="*{memberInteresting}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-container">
                                    <div class="row">
                                        <div class="col-left">
                                            <div class="input-label-style">
                                                <span class="input-subject">자기소개</span>
                                            </div>
                                        </div>
                                        <div class="col-right">
                                            <div class="input-group">
                                                    <pre id="memberIntroduction" name="memberIntroduction" wrap="soft" class="text-area-style input-text" disabled th:field="*{memberIntroduce}">
                                                    </pre>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </section>
                </div>
            </div>
        </div>

        <!-- footer -->
        <div th:replace="/main/footer.html:: footerFirst"></div>
    </div>
</div>

<!-- 파트너 신청하기 모달창 -->
<div id="applyModal" class="modal-container modal-overlay">
    <div class="modal-flex">
        <div class="modal-wrapper">
            <div class="modal-body">
                <h2 class="modal-title">교환일기 파트너를 신청하시겠습니까?</h2>
                <div>
                    교환일기 파트너를 신청합니다.
                </div>
            </div>
            <footer class="modal-footer">
                <div class="btn-container">
                    <button id="applyYesBtn" class="frip-btn" >
                        네
                    </button>
                    <button id="applyNoBtn" class="secondary-btn">
                        아니오
                    </button>
                </div>
            </footer>
        </div>
    </div>
    <div class="modal-color"></div>
</div>

<!-- 파트너 신고하기 모달창 -->
<div id="reportModal" class="modal-container modal-overlay">
    <div class="modal-flex">
        <div class="modal-wrapper">
            <div class="modal-body">
                <h2 class="modal-title">교환일기 파트너를 신고하시겠습니까?</h2>
                <div >
                    교환일기 파트너를 신고합니다.
                </div>
            </div>
            <footer class="modal-footer">
                <div class="btn-container">
                    <button id="reportYesBtn" class="frip-btn" >
                        네
                    </button>
                    <button id="reportNoBtn" class="secondary-btn">
                        아니오
                    </button>
                </div>
            </footer>
        </div>
    </div>
    <div class="modal-color"></div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script th:inline="javascript">
    // 모달창
    const $applyYesBtn = $('#applyYesBtn');
    const $applyNoBtn = $('#applyNoBtn');
    const $reportYesBtn = $('#reportYesBtn');
    const $reportNoBtn = $('#reportNoBtn');
    const applyModalContainer = document.querySelector("#applyModal");
    const reportModalContainer = document.querySelector("#reportModal");
    let $partnerNumber = [[${partner.memberNumber}]];
    let $queryString = [[${criteria.queryString}]];
    let $memberTeachingLang = [[${partner.memberTeachingLang}]];
    let $memberNumber = [[${session.memberNumber}]];

    function openModal() {
        document.body.style.overflow = "hidden";
    };

    function closeModal() {
        document.body.style.overflow = "unset";
    };

    function applyModalOpen() {
        applyModalContainer.style.display = "flex";
        openModal();
    };

    function reportModalOpen() {
        reportModalContainer.style.display = "flex";
        openModal();
    };

    // 교환일기 파트너 신청 버튼 클릭 시
    $applyYesBtn.on('click', function () {
        location.href = "/diary/partnerApply?memberNumber=" + $memberNumber + "&diaryPartnerNumber=" + $partnerNumber;
        applyModalContainer.style.display = "none";
        closeModal();
    });

    // 교환일기 파트너 신청 취소 버튼 클릭 시
    $applyNoBtn.on('click', function () {
        applyModalContainer.style.display = "none";
        closeModal();
    })

    // 교환일기 파트너 신고 버튼 클릭 시
    $reportYesBtn.on('click', function () {
        location.href = "/diary/partnerReport?reportingMemberNumber=" + $memberNumber + "&reportedMemberNumber=" + $partnerNumber;
        reportModalContainer.style.display = "none";
        closeModal();
    });

    // 교환일기 파트너 신고 취소 버튼 클릭 시
    $reportNoBtn.on('click', function () {
        reportModalContainer.style.display = "none";
        closeModal();
    });

    //
    function goPartnerList(){
        location.href = "/diary/partnerList" + $queryString + "&memberTeachingLang=" + $memberTeachingLang;
    };
</script>
</html>