<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>새로운 교환일기 파트너 신청</title>
    <link href="/css/main/header.css" rel="stylesheet" type="text/css" />
    <link href="/css/main/footer.css" rel="stylesheet" type="text/css" />
    <link href="/css/diary/partnerList.css" rel="stylesheet" type="text/css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <div th:replace="/main/header.html:: topHeader "></div>
    <div th:replace="/main/header.html:: header "></div>


    <div class="modal-container modal-overlay">
        <div class="modal-flex">
            <div class="modal-wrapper">
                <header class="modal-header-wrapper">
                    <div class="modal-country-header">
                        <span class="modal-title">국가</span>
                    </div>
                    <button class="close-btn">
                        <img src="/images/modal/modalCloseBtn.svg" alt="닫기 버튼">
                    </button>
                </header>
                <div class="modal-div-wrapper">
                    <div class="modal-country-section">
                        <div class="modal-country-select">
                            <div>
                                <div class="modal-country-name">국가</div>
                                <div class="modal-country-box">
                                    <div class="modal-radio-input-wrapper">
                                        <div class="modal-radio-input">
                                            <label for="modalInput1" class="modal-label">
                                                영어
                                                <div class="modal-radio"><div class="modal-radio-circle"></div></div>
                                                <input name="nation" value="eng" type="radio" class="modal-input" id="modalInput1">
                                            </label>
                                        </div>
                                        <div class="modal-radio-input">
                                            <label for="modalInput2" class="modal-label">
                                                스페인어
                                                <div class="modal-radio"><div class="modal-radio-circle"></div></div>
                                                <input name="nation" value="spain" type="radio" class="modal-input" id="modalInput2">
                                            </label>
                                        </div>
                                        <div class="modal-radio-input">
                                            <label for="modalInput3" class="modal-label">
                                                프랑스어
                                                <div class="modal-radio"><div class="modal-radio-circle"></div></div>
                                                <input name="nation" value="france" type="radio" class="modal-input" id="modalInput3">
                                            </label>
                                        </div>
                                        <div class="modal-radio-input">
                                            <label for="modalInput4" class="modal-label">
                                                독일어
                                                <div class="modal-radio"><div class="modal-radio-circle"></div></div>
                                                <input name="nation" value="germany" type="radio" class="modal-input" id="modalInput4">
                                            </label>
                                        </div>
                                        <div class="modal-radio-input">
                                            <label for="modalInput5" class="modal-label">
                                                이탈리아어
                                                <div class="modal-radio"><div class="modal-radio-circle"></div></div>
                                                <input name="nation" value="italy" type="radio" class="modal-input" id="modalInput5">
                                            </label>
                                        </div>
                                        <div class="modal-radio-input">
                                            <label for="modalInput6" class="modal-label">
                                                포르투갈어
                                                <div class="modal-radio"><div class="modal-radio-circle"></div></div>
                                                <input name="nation" value="portugal" type="radio" class="modal-input" id="modalInput6">
                                            </label>
                                        </div>
                                        <div class="modal-radio-input">
                                            <label for="modalInput7" class="modal-label">
                                                러시아
                                                <div class="modal-radio"><div class="modal-radio-circle"></div></div>
                                                <input name="nation" value="russia" type="radio" class="modal-input" id="modalInput7">
                                            </label>
                                        </div>
                                        <div class="modal-radio-input">
                                            <label for="modalInput8" class="modal-label">
                                                일본
                                                <div class="modal-radio"><div class="modal-radio-circle"></div></div>
                                                <input name="nation" value="japan" type="radio" class="modal-input" id="modalInput8">
                                            </label>
                                        </div>
                                        <div class="modal-radio-input">
                                            <label for="modalInput9" class="modal-label">
                                                중국
                                                <div class="modal-radio"><div class="modal-radio-circle"></div></div>
                                                <input name="nation" value="china" type="radio" class="modal-input" id="modalInput9">
                                            </label>
                                        </div>
                                        <div class="modal-radio-input">
                                            <label for="modalInput10" class="modal-label">
                                                한국
                                                <div class="modal-radio"><div class="modal-radio-circle"></div></div>
                                                <input name="nation" value="korea" type="radio" class="modal-input" id="modalInput10">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="modal-footer-wrapper">
                    <button class="modal-footer-btn">적용하기</button>
                </footer>
            </div>
        </div>
        <div class="modal-color"></div>
    </div>


    <section>
        <div id="bigTitle"><span>교환 일기 </span></div>
        <div id="middleTitle"><a>교환 일기 피드</a><a>새로운 교환 일기 파트너 신청</a></div>
        <div id="mainSection">
            <div id="mainFilter"><button>국가</button></div>
            <div id="mainBody">
                <div id="mainTitle"><div>프로필 리스트</div></div>
                <div id="mainList">
                    <div class="profileRow">
                        <div class="profileOne">
                            <img src="/images/diary/foreignerWoman1.jpg"/>
                            <div class="profileText">
                                <span>미국</span>
                                <div class="profileName">Jenny William Anderson</div>
                                <div class="profileInteresting"><span>관심사</span><span>게임</span></div>
                            </div>
                        </div>
                        <div class="profileOne">
                            <img src="/images/diary/foreignerWoman1.jpg"/>
                            <div class="profileText">
                                <span>미국</span>
                                <div class="profileName">Jenny William Anderson</div>
                                <div class="profileInteresting"><span>관심사</span><span>게임</span></div>
                            </div>
                        </div>
                        <div class="profileOne">
                            <img src="/images/diary/foreignerWoman1.jpg"/>
                            <div class="profileText">
                                <span>미국</span>
                                <div class="profileName">Jenny William Anderson</div>
                                <div class="profileInteresting"><span>관심사</span><span>게임</span></div>
                            </div>
                        </div>
                        <div class="profileOne">
                            <img src="/images/diary/foreignerWoman1.jpg"/>
                            <div class="profileText">
                                <span>미국</span>
                                <div class="profileName">Jenny William Anderson</div>
                                <div class="profileInteresting"><span>관심사</span><span>게임</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="profileRow">
                        <div class="profileOne">
                            <img src="/images/diary/foreignerWoman1.jpg"/>
                            <div class="profileText">
                                <span>미국</span>
                                <div class="profileName">Jenny William Anderson</div>
                                <div class="profileInteresting"><span>관심사</span><span>게임</span></div>
                            </div>
                        </div>
                        <div class="profileOne">
                            <img src="/images/diary/foreignerWoman1.jpg"/>
                            <div class="profileText">
                                <span>미국</span>
                                <div class="profileName">Jenny William Anderson</div>
                                <div class="profileInteresting"><span>관심사</span><span>게임</span></div>
                            </div>
                        </div>
                        <div class="profileOne">
                            <img src="/images/diary/foreignerWoman1.jpg"/>
                            <div class="profileText">
                                <span>미국</span>
                                <div class="profileName">Jenny William Anderson</div>
                                <div class="profileInteresting"><span>관심사</span><span>게임</span></div>
                            </div>
                        </div>
                        <div class="profileOne">
                            <img src="/images/diary/foreignerWoman1.jpg"/>
                            <div class="profileText">
                                <span>미국</span>
                                <div class="profileName">Jenny William Anderson</div>
                                <div class="profileInteresting"><span>관심사</span><span>게임</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="profileRow">
                        <div class="profileOne">
                            <img src="/images/diary/foreignerWoman1.jpg"/>
                            <div class="profileText">
                                <span>미국</span>
                                <div class="profileName">Jenny William Anderson</div>
                                <div class="profileInteresting"><span>관심사</span><span>게임</span></div>
                            </div>
                        </div>
                        <div class="profileOne">
                            <img src="/images/diary/foreignerWoman1.jpg"/>
                            <div class="profileText">
                                <span>미국</span>
                                <div class="profileName">Jenny William Anderson</div>
                                <div class="profileInteresting"><span>관심사</span><span>게임</span></div>
                            </div>
                        </div>
                        <div class="profileOne">
                            <img src="/images/diary/foreignerWoman1.jpg"/>
                            <div class="profileText">
                                <span>미국</span>
                                <div class="profileName">Jenny William Anderson</div>
                                <div class="profileInteresting"><span>관심사</span><span>게임</span></div>
                            </div>
                        </div>
                        <div class="profileOne">
                            <img src="/images/diary/foreignerWoman1.jpg"/>
                            <div class="profileText">
                                <span>미국</span>
                                <div class="profileName">Jenny William Anderson</div>
                                <div class="profileInteresting"><span>관심사</span><span>게임</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="profileRow">
                        <div class="profileOne">
                            <img src="/images/diary/foreignerWoman1.jpg"/>
                            <div class="profileText">
                                <span>미국</span>
                                <div class="profileName">Jenny William Anderson</div>
                                <div class="profileInteresting"><span>관심사</span><span>게임</span></div>
                            </div>
                        </div>
                        <div class="profileOne">
                            <img src="/images/diary/foreignerWoman1.jpg"/>
                            <div class="profileText">
                                <span>미국</span>
                                <div class="profileName">Jenny William Anderson</div>
                                <div class="profileInteresting"><span>관심사</span><span>게임</span></div>
                            </div>
                        </div>
                        <div class="profileOne">
                            <img src="/images/diary/foreignerWoman1.jpg"/>
                            <div class="profileText">
                                <span>미국</span>
                                <div class="profileName">Jenny William Anderson</div>
                                <div class="profileInteresting"><span>관심사</span><span>게임</span></div>
                            </div>
                        </div>
                        <div class="profileOne">
                            <img src="/images/diary/foreignerWoman1.jpg"/>
                            <div class="profileText">
                                <span>미국</span>
                                <div class="profileName">Jenny William Anderson</div>
                                <div class="profileInteresting"><span>관심사</span><span>게임</span></div>
                            </div>
                        </div>
                    </div>
                </div>


                <div id="pageNation">
                    <div class="prev-button-group">
                        <button class="arrow-button">
                            <img src="/images/pagenation/firstPageArrow.svg" class="arrow-img">
                        </button>
                        <button class="arrow-button">
                            <img src="/images/pagenation/prevArrow.svg" class="arrow-img">
                        </button>
                    </div>
                    <button class="page-button first-page">1</button>
                    <button class="page-button">2</button>
                    <button class="page-button">3</button>
                    <button class="page-button">4</button>
                    <button class="page-button">5</button>
                    <button class="page-button">6</button>
                    <button class="page-button">7</button>
                    <button class="page-button">8</button>
                    <button class="page-button">9</button>
                    <button class="page-button">10</button>
                    <div class="next-button-group">
                        <button class="arrow-button">
                            <img src="/images/pagenation/nextArrow.svg" class="arrow-img">
                        </button>
                        <button class="arrow-button">
                            <img src="/images/pagenation/lastPageArrow.svg" class="arrow-img">
                        </button>
                    </div>
                </div>



            </div>


        </div>
        </div>
    </section>

    <div th:replace="/main/footer.html:: footerFirst"></div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="/js/diary/newDiaryPartnerSignup.js" ></script>
</html>