<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>diary detail</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <link href="/css/main/header.css" rel="stylesheet" type="text/css" />
    <link href="/css/main/footer.css" rel="stylesheet" type="text/css" />
    <link href="/css/diary/write.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="app">
        <div class="appWrapper">
            <!-- header -->
            <div th:replace="/main/header.html:: topHeader "></div>
            <div th:replace="/main/header.html:: header "></div>

            <!-- main -->
            <div class="wrapper">
                <div class="content-wrapper">
                    <div class="diary-detail-container">
                        <div class="header-section-wrapper">
                            <div class="image-wrapper">
                                <img class="image" src="/images/diary/bread.jpg" width="375">
                            </div>
                            <div class="info-wrapper">
                                <section class="date-info-section">
                                    <div class="date-wrapper">
                                        <input class="date-selector" id="dateSelector">
                                    </div>
                                </section>
                                <section class="partner-profile-section">
                                    <div class="partner-profile-wrapper">
                                        <div class="partner-profile">
                                            <div class="partner-profile-info">
                                                <div class="partner-profile-image">
                                                    <a href="javascript:void(0)">
                                                        <div class="partner-image-wrapper">
                                                            <img class="partner-profile-img-style" src="/images/member/sample2.png">
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="profile-content">
                                                    <div class="partner-name-wrapper">
                                                        <a href="javascript:void(0)">
                                                            <span class="partner-nickname">
                                                                Tom Cruise
                                                            </span>
                                                        </a>
                                                    </div>
                                                    <span class="partner-nation">
                                                        미국
                                                    </span>
                                                </div>
                                            </div>
                                            <div>
                                                <a href="javascript:void(0)">
                                                    <img class="nation-img-style" src="/images/main/americaIcon.png">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                        <section class="section-container">
                            <div class="section-title">
                                <h2>교환 일기</h2>
                                <button id="saveBtn" class="save-btn">저장하기</button>
                            </div>
                            <div class="form-container">
                                <form name="diaryForm">
                                    <div class="input-container">
                                        <div class="row">
                                            <div class="col-left">
                                                <div class="input-label-style">
                                                    <span class="text-danger">*</span>
                                                    <span class="input-subject">제목</span>
                                                </div>
                                            </div>
                                            <div class="col-right">
                                                <div class="input-group">
                                                    <input name="diaryTitle" id="diaryTitle" type="text" maxlength="40" required="required"
                                                           placeholder="일기의 제목을 작성해주세요." class="input-text">
                                                    </input>
                                                    <div class="input-text-append">
                                                        <span class="text-muted-container">
                                                            <small class="text-muted"></small>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-container">
                                        <hr>
                                        <div class="row">
                                            <div class="col-left">
                                                <div class="input-label-style">
                                                    <span class="text-danger">*</span>
                                                    <span class="input-subject">내용</span>
                                                </div>
                                            </div>
                                            <div class="col-right">
                                                <div class="input-group">
                                                    <textarea id="summernote" name="diaryContent"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>
                    </div>
                </div>
            </div>

            <!-- footer -->
            <div th:replace="/main/footer.html:: footerFirst"></div>
        </div>
    </div>

    <div class="modal-container modal-overlay">
        <div class="modal-flex">
            <div class="modal-wrapper">
                <div class="modal-body">
                    <h2 class="modal-title">일기 내용을 저장하시겠습니까?</h2>
                    <div >
                        일기를 저장합니다.
                    </div>
                </div>
                <footer class="modal-footer">
                    <div class="btn-container">
                        <button id="yesBtn" class="warning-btn">
                            네
                        </button>
                        <button id="noBtn" class="secondary-btn">
                            아니오
                        </button>
                    </div>
                </footer>
            </div>
        </div>
        <div class="modal-color"></div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>

<!-- flatpickr -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://npmcdn.com/flatpickr/dist/flatpickr.min.js"></script>
<script src="https://npmcdn.com/flatpickr/dist/l10n/ko.js"></script>

<!-- summernote -->
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>

<script>
    // 날짜
    var dateSelector = document.querySelector('#dateSelector');
    dateSelector.flatpickr();

    flatpickr.localize(flatpickr.l10ns.ko);
    flatpickr(dateSelector);

    dateSelector.flatpickr({
        local: 'ko',
        inline: true,
/*        defaultDate: "2022-11-21",*/
/*        enable:[
            "2022-11-21"
        ]*/
        maxDate: "2022-11-22"
    });


    // 글자 수 카운트
    $('.input-text').keyup(function (e) {
        let content = $(this).val();

        if (content.length == 0 || content == '') {
            $('.text-muted').text('0 / 40');
        } else {
            $('.text-muted').text(content.length + ' / 40');
        }
    });


    // 썸머 노트
   $('#summernote').summernote({
        height: 300,
        width: 700,
        minHeight: 500,
        maxHeight: null,
        lang: "ko-KR",
        placeholder: '일기 내용을 작성해주세요.',
        toolbar: [
            ['style', ['bold', 'italic', 'underline', 'strikethrough', 'superscript', 'subscript', 'clear']],
            ['fontsize', ['fontsize']],
            ['color', ['forecolor','backcolor', 'clear']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['view', ['help']]
        ],
        disableDragAndDrop: true
    });
    // $('#summernote').summernote('disable');
    // $('#summernote').summernote('enable');
    // $('#summernote').summernote('reset');


    // 유효성 검사
    const $saveBtn = $('#saveBtn');

    $saveBtn.on('click', function () {
        var diaryTitle = $('input[name=diaryTitle]');

        if(!diaryTitle.val()){
            /* !diaryForm.diaryTitle이 먹히지 않는다. 왜 ?? */
            alert('제목을 작성해주세요.');
            return;
        }

        if ($('#summernote').summernote('isEmpty')) {
            alert('일기 내용을 작성해주세요.');
            return;
        }

        modal();
    });


    // 모달창
    const modalContainer = document.querySelector(".modal-container");

    function openModal() {
        document.body.style.overflow = "hidden";
    };

    function closeModal() {
        document.body.style.overflow = "unset";
    }

    function modal() {
        modalContainer.style.display = "flex";
        openModal();
    }

    const $yesBtn = $('#yesBtn');
    const $noBtn = $('#noBtn');

    $yesBtn.on('click', function () {
        diaryForm.submit();
        modalContainer.style.display = "none";
        closeModal();
    })

    $noBtn.on('click', function () {
        modalContainer.style.display = "none";
        closeModal();
    })

    // ?? 날짜는 어떻게 보내지 ??
</script>
</html>