<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.globalexchange.app.mapper.DiaryMapper">
    <insert id="diaryInsert">
        <selectKey keyProperty="diaryNumber" order="BEFORE" resultType="long">
            SELECT DIARY_SEQ.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO TBL_DIARY(DIARY_NUMBER, MEMBER_NUMBER, DIARY_PARTNER_NUMBER, DIARY_TITLE, DIARY_CONTENT, DIARY_WRITE_DATE)
        VALUES (#{diaryNumber}, #{memberNumber}, #{diaryPartnerNumber}, #{diaryTitle}, #{diaryContent}, #{diaryWriteDate})
    </insert>

    <update id="diaryUpdate">
        UPDATE TBL_DIARY
        SET DIARY_TITLE = #{diaryTitle}, DIARY_CONTENT = #{diaryContent}, DIARY_UPDATE_DATE = SYSDATE
        WHERE DIARY_NUMBER = #{diaryNumber}
    </update>

    <delete id="diaryDelete">
        DELETE FROM TBL_DIARY
        WHERE DIARY_NUMBER = #{diaryNumber}
    </delete>

    <select id="diarySelect" resultType="diaryVO">
        SELECT DIARY_NUMBER, DIARY_TITLE, DIARY_PARTNER_NUMBER, DIARY_CONTENT, DIARY_WRITE_DATE, DIARY_UPDATE_DATE, member_number, diary_partner_number
        FROM TBL_DIARY
        WHERE DIARY_NUMBER = #{diaryNumber}
    </select>

    <select id="diarySelectAll" resultType="diaryDTO"> <!--페이징처리-->
        SELECT DIARY_NUMBER, DIARY_TITLE, DIARY_CONTENT, DIARY_WRITE_DATE, DIARY_UPDATE_DATE, member_number, diary_partner_number
        FROM
        (
            SELECT ROWNUM R, DIARY_NUMBER, DIARY_TITLE, DIARY_CONTENT, DIARY_WRITE_DATE, DIARY_UPDATE_DATE, member_number, diary_partner_number
            FROM
            (
                SELECT DIARY_NUMBER, DIARY_TITLE, DIARY_CONTENT, DIARY_WRITE_DATE, DIARY_UPDATE_DATE, member_number, diary_partner_number
                FROM TBL_DIARY
                ORDER BY DIARY_NUMBER DESC
            ) D2
        <![CDATA[
            WHERE ROWNUM <= #{page} * #{amount}
        ) WHERE R > (#{page} - 1) * #{amount}
        ]]>
    </select>

    <select id="myDiarySelectAll" resultType="diaryDTO"> <!--페이징처리-->
        SELECT DIARY_NUMBER, DIARY_TITLE, DIARY_CONTENT, DIARY_WRITE_DATE, DIARY_UPDATE_DATE, member_number, diary_partner_number
        FROM
        (
        SELECT ROWNUM R, DIARY_NUMBER, DIARY_TITLE, DIARY_CONTENT, DIARY_WRITE_DATE, DIARY_UPDATE_DATE, member_number, diary_partner_number
        FROM
        (
        SELECT DIARY_NUMBER, DIARY_TITLE, DIARY_CONTENT, DIARY_WRITE_DATE, DIARY_UPDATE_DATE, member_number, diary_partner_number
        FROM TBL_DIARY
        WHERE MEMBER_NUMBER = #{memberNumber}
        ORDER BY DIARY_NUMBER DESC
        ) D2
        <![CDATA[
            WHERE ROWNUM <= #{criteria.page} * #{criteria.amount}
        ) WHERE R > (#{criteria.page} - 1) * #{criteria.amount}
        ]]>
    </select>

    <select id="myPartnerSelectAll" resultType="diaryDTO"> <!--페이징처리-->
        SELECT DIARY_NUMBER, DIARY_TITLE, DIARY_CONTENT, DIARY_WRITE_DATE, DIARY_UPDATE_DATE, member_number, diary_partner_number
        FROM
        (
        SELECT ROWNUM R, DIARY_NUMBER, DIARY_TITLE, DIARY_CONTENT, DIARY_WRITE_DATE, DIARY_UPDATE_DATE, member_number, diary_partner_number
        FROM
        (
        SELECT DIARY_NUMBER, DIARY_TITLE, DIARY_CONTENT, DIARY_WRITE_DATE, DIARY_UPDATE_DATE, member_number, diary_partner_number
        FROM TBL_DIARY
        WHERE MEMBER_NUMBER = #{memberNumber} AND DIARY_PARTNER_NUMBER = #{diaryPartnerNumber}
        ORDER BY DIARY_NUMBER DESC
        ) D2
        <![CDATA[
            WHERE ROWNUM <= #{criteria.page} * #{criteria.amount}
        ) WHERE R > (#{criteria.page} - 1) * #{criteria.amount}
        ]]>
    </select>

    <select id="toMeDiarySelectAll" resultType="diaryDTO"> <!--페이징처리-->
        SELECT DIARY_NUMBER, DIARY_TITLE, DIARY_CONTENT, DIARY_WRITE_DATE, DIARY_UPDATE_DATE, member_number, diary_partner_number
        FROM
        (
        SELECT ROWNUM R, DIARY_NUMBER, DIARY_TITLE, DIARY_CONTENT, DIARY_WRITE_DATE, DIARY_UPDATE_DATE, member_number, diary_partner_number
        FROM
        (
        SELECT DIARY_NUMBER, DIARY_TITLE, DIARY_CONTENT, DIARY_WRITE_DATE, DIARY_UPDATE_DATE, member_number, diary_partner_number
        FROM TBL_DIARY
        WHERE DIARY_PARTNER_NUMBER = #{memberNumber}
        ORDER BY DIARY_NUMBER DESC
        ) D2
        <![CDATA[
            WHERE ROWNUM <= #{criteria.page} * #{criteria.amount}
        ) WHERE R > (#{criteria.page} - 1) * #{criteria.amount}
        ]]>
    </select>

    <select id="toMeFromPartnerDiarySelectAll" resultType="diaryDTO"> <!--페이징처리-->
        SELECT DIARY_NUMBER, DIARY_TITLE, DIARY_CONTENT, DIARY_WRITE_DATE, DIARY_UPDATE_DATE, member_number, diary_partner_number
        FROM
        (
        SELECT ROWNUM R, DIARY_NUMBER, DIARY_TITLE, DIARY_CONTENT, DIARY_WRITE_DATE, DIARY_UPDATE_DATE, member_number, diary_partner_number
        FROM
        (
        SELECT DIARY_NUMBER, DIARY_TITLE, DIARY_CONTENT, DIARY_WRITE_DATE, DIARY_UPDATE_DATE, member_number, diary_partner_number
        FROM TBL_DIARY
        WHERE DIARY_PARTNER_NUMBER = #{memberNumber} AND MEMBER_NUMBER = #{diaryPartnerNumber}
        ORDER BY DIARY_NUMBER DESC
        ) D2
        <![CDATA[
            WHERE ROWNUM <= #{criteria.page} * #{criteria.amount}
        ) WHERE R > (#{criteria.page} - 1) * #{criteria.amount}
        ]]>
    </select>

    <select id="getTotal" resultType="_int">
        SELECT COUNT(DIARY_NUMBER) FROM TBL_DIARY
    </select>

    <select id="myDiaryGetTotal" resultType="_int">
        SELECT COUNT(DIARY_NUMBER) FROM TBL_DIARY
        WHERE MEMBER_NUMBER = #{memberNumber}
    </select>

    <select id="categoryGetTotal" resultType="_int">
        SELECT COUNT(DIARY_NUMBER) FROM TBL_DIARY
        WHERE MEMBER_NUMBER = #{memberNumber} AND DIARY_PARTNER_NUMBER = #{diaryPartnerNumber}
    </select>

    <select id="toMeDiaryGetTotal" resultType="_int">
        SELECT COUNT(DIARY_NUMBER) FROM TBL_DIARY
        WHERE DIARY_PARTNER_NUMBER = #{memberNumber}
    </select>

    <select id="toMeFromPartnerDiaryGetTotal" resultType="_int">
        SELECT COUNT(DIARY_NUMBER) FROM TBL_DIARY
        WHERE DIARY_PARTNER_NUMBER = #{memberNumber} AND MEMBER_NUMBER = #{diaryPartnerNumber}
    </select>

    <select id="diaryPartnerSelect" resultType="long">
        SELECT DIARY_PARTNER_NUMBER FROM tbl_diary_partner
        WHERE MEMBER_NUMBER= #{memberNumber}
    </select>

    <insert id="diaryPartnerInsert">
        INSERT ALL
            INTO TBL_DIARY_PARTNER (MEMBER_NUMBER, DIARY_PARTNER_NUMBER) values (#{memberNumber}, #{diaryPartnerNumber})
        INTO TBL_DIARY_PARTNER (MEMBER_NUMBER, DIARY_PARTNER_NUMBER) values (#{diaryPartnerNumber}, #{memberNumber})
        SELECT * FROM DUAL
    </insert>

    <select id="diaryPartnerCheck" resultType="_int">
        SELECT COUNT(MEMBER_NUMBER)
        FROM TBL_DIARY_PARTNER
        WHERE MEMBER_NUMBER = #{memberNumber} AND DIARY_PARTNER_NUMBER = #{diaryPartnerNumber}
    </select>

</mapper>