<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.globalexchange.app.mapper.FileMapper">
    <select id="getMeetWriterImage" resultType="fileProfileVO">
        SELECT * FROM tbl_file_profile
        WHERE MEMBER_NUMBER=#{memberNumber}
    </select>

    <insert id="insertMeetFile">
        INSERT INTO tbl_file_meet(FILE_NUMBER, FILE_NAME, FILE_UPLOAD_PATH, FILE_UUID, FILE_IMAGE_CHECK, FILE_SIZE, meet_number)
        VALUES(file_meet_seq.NEXTVAL, #{fileName}, #{fileUploadPath}, #{fileUuid}, #{fileImageCheck}, #{fileSize}, #{meetNumber})
    </insert>

    <select id="getMeetFile" resultType="fileMeetVO">
        SELECT * FROM tbl_file_meet
        WHERE MEET_NUMBER=#{meet_number}
    </select>

    <!--<update id="updateMeetFile">
    수정페이지에서 파일정보를 그대로 돌려주지 않기 때문에 파일넘버로 지울수없다.. 게시글 번호만 연관있으므로
        UPDATE tbl_file_meet
        SET FILE_NAME=#{fileName},FILE_UPLOAD_PATH=#{fileUploadPath},FILE_UUID=#{fileUuid},FILE_IMAGE_CHECK=#{fileImageCheck},FILE_SIZE=#{fileSize},meet_number=#{meetNumber}
        WHERE FILE_NUMBER=#{fileNumber}
    </update>-->
    <delete id="deleteMeetFile">
        DELETE FROM tbl_file_meet
        WHERE meet_number=#{meetNumber}
    </delete>


    <insert id="diaryInsert">
        INSERT INTO TBL_FILE_DIARY(FILE_NUMBER, FILE_NAME, FILE_UPLOAD_PATH, FILE_UUID, FILE_IMAGE_CHECK, FILE_SIZE, DIARY_NUMBER)
        VALUES(FILE_DIARY_SEQ.NEXTVAL, #{fileName}, #{fileUploadPath}, #{fileUuid}, #{fileImageCheck}, #{fileSize}, TO_CHAR(#{diaryNumber}))
    </insert>

<!--    <update id="diaryUpdate">-->
<!--        UPDATE TBL_FILE_DIARY-->
<!--        SET FILE_NAME=#{fileName}, FILE_UPLOAD_PATH=#{fileUploadPath}, FILE_UUID=#{fileUuid}, FILE_IMAGE_CHECK=#{fileImageCheck}, FILE_SIZE=#{fileSize}-->
<!--        WHERE DIARY_NUMBER = #{diaryNumber}-->
<!--    </update>-->

    <delete id="diaryDelete">
        DELETE FROM TBL_FILE_DIARY
        WHERE DIARY_NUMBER = #{diaryNumber}
    </delete>

    <select id="diarySelect" resultType="fileDiaryVO">
        SELECT FILE_NUMBER, FILE_NAME, FILE_UPLOAD_PATH, FILE_UUID, FILE_IMAGE_CHECK, FILE_SIZE, DIARY_NUMBER
        FROM TBL_FILE_DIARY
        WHERE DIARY_NUMBER = #{diaryNumber}
    </select>


</mapper>