<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.globalexchange.app.mapper.FileMapper">
    <select id="getMeetWriterImage" resultType="fileProfileVO">
        SELECT * FROM tbl_file_profile
        WHERE MEMBER_NUMBER=#{memberNumber}
    </select>
</mapper>