<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.globalexchange.app.mapper.MemberMapper">
    <select id="checkId" resultType="_int" >
        SELECT count(MEMBER_NUMBER) FROM tbl_member
        WHERE MEMBER_ID = #{memberId}
    </select>

    <select id="checkNick" resultType="_int" >
    SELECT count(MEMBER_NUMBER) FROM tbl_member
    WHERE MEMBER_NICKNAME = #{memberNickname}
    </select>

    <select id="emailLogin" resultType="memberVO" >
        SELECT MEMBER_NUMBER, MEMBER_NICKNAME
        FROM TBL_MEMBER
        WHERE MEMBER_ID = #{memberId} and MEMBER_PASSWORD = #{memberPassword}
    </select>

    <select id="findByEmail" resultType="memberVO">
        SELECT MEMBER_NUMBER, MEMBER_ID ,MEMBER_NICKNAME
        FROM TBL_MEMBER
        WHERE MEMBER_ID=#{memberId}
    </select>
    <update id="updateByEmail">
        UPDATE TBL_MEMBER
        SET MEMBER_NICKNAME=#{memberNickname}
        WHERE MEMBER_ID=#{memberId}
    </update>
    <insert id="insertByEmail">
        <selectKey keyProperty="memberNumber" order="BEFORE" resultType="long">
            SELECT MEMBER_SEQ.NEXTVAL FROM DUAL
        </selectKey>
        insert into tbl_member(member_number, member_id, member_nickname, member_password, member_teaching_lang, member_learning_lang, member_interesting, member_gender, member_nation_url, MEMBER_LEARNING_URL)
        values(#{memberNumber}, #{memberId}, #{memberNickname}, #{memberPassword}, #{memberTeachingLang}, #{memberLearningLang}, #{memberInteresting}, #{memberGender}, #{memberNationUrl} , #{memberLearningUrl})
    </insert>

    <insert id="joinForm">
        <selectKey keyProperty="memberNumber" order="BEFORE" resultType="long">
            SELECT MEMBER_SEQ.NEXTVAL FROM DUAL
        </selectKey>
        insert into tbl_member(member_number, member_id, member_nickname, member_password, member_teaching_lang, member_learning_lang, member_interesting, member_gender, member_nation_url, MEMBER_LEARNING_URL)
        values(#{memberNumber}, #{memberId}, #{memberNickname}, #{memberPassword}, #{memberTeachingLang}, #{memberLearningLang}, #{memberInteresting}, #{memberGender}, #{memberNationUrl} , #{memberLearningUrl})
    </insert>


    <select id="select" resultType="memberVO">
        SELECT MEMBER_NUMBER, MEMBER_ID, MEMBER_PASSWORD, MEMBER_TEACHING_LANG, MEMBER_LEARNING_LANG, MEMBER_INTERESTING, MEMBER_GENDER, MEMBER_NICKNAME, MEMBER_PHONE_NUM, MEMBER_BIRTHDATE, MEMBER_INTRODUCE, MEMBER_NATION_URL, MEMBER_LEARNING_URL
        FROM TBL_MEMBER
        WHERE MEMBER_NUMBER = #{memberNumber}
    </select>


    <select id="currentJoinMemberNum" resultType="long">
        SELECT LAST_NUMBER FROM all_SEQUENCES
        WHERE SEQUENCE_NAME = 'MEMBER_SEQ'
    </select>

    <select id="currentJoinMemberNum2" resultType="long">
        SELECT (MEMBER_SEQ.NEXTVAL-1) FROM DUAL
    </select>

    <insert id="profileDefaultInsert">
        insert into tbl_file_profile(file_number,file_name,file_upload_path,file_uuid,file_image_check,file_size,member_number)
        values(file_profile_seq.NEXTVAL,#{fileName},#{fileUploadPath},#{fileUuid},#{fileImageCheck},#{fileSize},#{memberNumber})
    </insert>

    <select id="myPageNickname" resultType="memberVO">
        SELECT MEMBER_NICKNAME,MEMBER_NUMBER FROM tbl_member
        WHERE MEMBER_NUMBER = #{memberNumber}
    </select>

    <select id="myPageProfile" resultType="fileProfileVO">
        SELECT FILE_NUMBER, FILE_NAME, FILE_UPLOAD_PATH, FILE_UUID, FILE_IMAGE_CHECK, FILE_SIZE, MEMBER_NUMBER
        FROM TBL_FILE_PROFILE
        WHERE MEMBER_NUMBER = #{memberNumber}
    </select>

    <select id="diaryTotalPost" resultType="long">
        SELECT count(DIARY_NUMBER) FROM TBL_DIARY
        WHERE MEMBER_NUMBER = #{memberNumber}
    </select>

    <select id="meetPost" resultType="long">
        SELECT count(MEET_NUMBER) FROM TBL_MEET
        WHERE MEMBER_NUMBER = #{memberNumber}
    </select>

    <select id="lodgingPost" resultType="long">
        SELECT count(LODGING_NUMBER) FROM TBL_LODGING
        WHERE MEMBER_NUMBER = #{memberNumber}
    </select>

    <select id="meetAnswer" resultType="long">
        SELECT count(MEET_ANSWER_NUMBER) FROM TBL_MEET_ANSWER
        WHERE MEMBER_NUMBER = #{memberNumber}
    </select>

    <select id="lodgingAnswer" resultType="long">
        SELECT count(LODGING_ANSWER_NUMBER) FROM TBL_LODGING_ANSWER
        WHERE MEMBER_NUMBER = #{memberNumber}
    </select>

    <select id="diaryPartnerList" resultType="long">
        SELECT DIARY_PARTNER_NUMBER FROM tbl_diary_partner
        WHERE MEMBER_NUMBER = #{memberNumber}
    </select>

    <select id="diaryPartnerNickname" resultType="memberVO">
        SELECT MEMBER_NICKNAME,MEMBER_NUMBER,MEMBER_TEACHING_LANG FROM tbl_member
        WHERE MEMBER_NUMBER = #{memberNumber}
    </select>

    <select id="diaryPartnerProfile" resultType="fileProfileVO">
        SELECT * FROM tbl_file_profile
        WHERE MEMBER_NUMBER = #{memberNumber}
    </select>

    <delete id="deletePartner">
        DELETE FROM tbl_diary_partner
        WHERE DIARY_PARTNER_NUMBER= #{diaryPartnerNumber} and MEMBER_NUMBER = #{memberNumber}
    </delete>

    <delete id="deletePartner2">
        DELETE FROM tbl_diary_partner
        WHERE DIARY_PARTNER_NUMBER= #{memberNumber} and MEMBER_NUMBER= #{diaryPartnerNumber}
    </delete>

    <select id="myPageDetail" resultType="memberVO">
        SELECT * FROM tbl_member
        WHERE MEMBER_NUMBER = #{memberNumber}
    </select>


    <update id="myPageContentUpdate">
        UPDATE tbl_member
        SET MEMBER_NICKNAME = #{memberNickname}, MEMBER_PHONE_NUM = #{memberPhoneNum}, MEMBER_BIRTHDATE = #{memberBirthdate}, MEMBER_TEACHING_LANG = #{memberTeachingLang}, MEMBER_LEARNING_LANG = #{memberLearningLang}, MEMBER_INTERESTING = #{memberInteresting}, MEMBER_INTRODUCE = #{memberIntroduce}, member_nation_url = #{memberNationUrl}, MEMBER_LEARNING_URL = #{memberLearningUrl}
        WHERE MEMBER_NUMBER = #{memberNumber}
    </update>

    <update id="myPageImageUpdate">
        UPDATE tbl_file_profile
        SET FILE_NAME = #{fileName}, FILE_UPLOAD_PATH = #{fileUploadPath}, FILE_UUID = #{fileUuid}, FILE_IMAGE_CHECK = #{fileImageCheck}, FILE_SIZE = #{fileSize}, MEMBER_NUMBER = #{memberNumber}
        WHERE FILE_NUMBER = #{fileNumber}
    </update>

    <select id="selectAll" resultType="memberVO">
        SELECT MEMBER_NUMBER, MEMBER_ID, MEMBER_PASSWORD, MEMBER_TEACHING_LANG, MEMBER_LEARNING_LANG, MEMBER_INTERESTING, MEMBER_GENDER, MEMBER_NICKNAME, MEMBER_PHONE_NUM, MEMBER_BIRTHDATE, MEMBER_INTRODUCE, MEMBER_NATION_URL, MEMBER_LEARNING_URL
        FROM
        (
        SELECT ROWNUM R, MEMBER_NUMBER, MEMBER_ID, MEMBER_PASSWORD, MEMBER_TEACHING_LANG, MEMBER_LEARNING_LANG, MEMBER_INTERESTING, MEMBER_GENDER, MEMBER_NICKNAME, MEMBER_PHONE_NUM, MEMBER_BIRTHDATE, MEMBER_INTRODUCE, MEMBER_NATION_URL, MEMBER_LEARNING_URL
        FROM
        (
        SELECT MEMBER_NUMBER, MEMBER_ID, MEMBER_PASSWORD, MEMBER_TEACHING_LANG, MEMBER_LEARNING_LANG, MEMBER_INTERESTING, MEMBER_GENDER, MEMBER_NICKNAME, MEMBER_PHONE_NUM, MEMBER_BIRTHDATE, MEMBER_INTRODUCE, MEMBER_NATION_URL, MEMBER_LEARNING_URL
        FROM TBL_MEMBER
        <where>
            <if test="memberTeachingLang != null and memberTeachingLang != 'ALL'.toString()">
                MEMBER_TEACHING_LANG = #{memberTeachingLang}
            </if>
        </where>
        ORDER BY MEMBER_NUMBER DESC
        )
        <![CDATA[
            WHERE ROWNUM <= #{page} * #{amount}
        )
        WHERE R > (#{page} - 1) * #{amount}
        ]]>
    </select>

    <select id="getTotal" resultType="_int">
        SELECT COUNT(MEMBER_NUMBER)
        FROM  TBL_MEMBER
        <where>
            <if test="memberTeachingLang != null and memberTeachingLang != 'ALL'.toString()">
                MEMBER_TEACHING_LANG = #{memberTeachingLang}
            </if>
        </where>
    </select>

    <select id="getReportsCount" resultType="_int">
        SELECT COUNT(MEMBER_REPORT_NUMBER)
        FROM TBL_MEMBER_REPORT
        WHERE REPORTED_MEMBER_NUMBER = #{reportedMemberNumber}
    </select>

    <delete id="deleteMember">
        DELETE FROM TBL_MEMBER
        WHERE MEMBER_NUMBER = #{memberNumber}
    </delete>
</mapper>