html, body {
    width: 100%;
    font-size: 14px;
    color: black;
    word-break: normal;
    overflow-wrap: break-word;
}

html {
    box-sizing: border-box;
    cursor: default;
    font-family: sans-serif;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -webkit-locale: "ko";
}

body {
    font-family: 'Noto Sans KR', sans-serif;
/*    overflow-x:hidden;
    overflow-y:auto;*/
}

* {
    outline: none;
    font-family: inherit;
}

*, ::before, ::after {
    background-repeat: no-repeat;
    box-sizing: inherit;
}

img {
    border-style: none;

}

audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block;
}

div {
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
    background-color: transparent;
}

form {
    display: block;
    margin-top: 0em;
}

hr {
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
    padding-bottom: 3rem;
}

textarea:disabled {
    background-color: white;
}

#app {
    background-color: white;
    min-height: 100%;
    min-width: 100%;
}

.appWrapper {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
}


.wrapper {
    width: 100%;
    max-width: 828px;
    min-height: 1px;
    margin: 0px auto;
    padding-bottom: 100px;
    position: relative;
}

.content-wrapper {
    position: relative;
    display: flex;
    -webkit-box-flex: 1;
    flex: 1 1 100%;
    width: 100%;
    height: auto;
    margin: 0px auto;
}

.diary-detail-container {
    display: flex;
    flex-flow: column nowrap;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    width: 100%;
    min-width: 0px;
    padding: 40px 30px 30px;
}

.header-section-wrapper {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    max-width: 768px;
    padding-bottom: 15px;
}

.header-section-wrapper > * {
    width: 50%;
    max-width: 375px;
}

.image-wrapper {
    width: 375px;
    height: 375px;
    overflow: hidden;
    border-radius: 5px;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*.image-input-box {
    width: 375px;
    height: 375px;
    background-color: transparent;
    border: 1px dashed #bfbfbf;
    position: relative;
    align-items: center;
    min-height: 15rem;
    border-radius: 5px;
}*/

.image-text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.info-wrapper {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 0px 0px 0px 6px;
}

.date-info-section {
    height: 100%;
    position: relative;
    padding: 0px 0px 18px;
    border-bottom: initial;
}

.date-wrapper {
    width: 100%;
    min-width: 0px;
    display: flex;
    justify-content: center;
}

.date-selector {
    display: none;
}

.partner-profile-section {
    border-top: 1px solid rgb(238, 238, 238);
    padding-right: 12px;
    padding-top: 10px;
    line-height: 1.8;
    font-size: 14px;
    background-color: rgb(255, 255, 255);
}

.partner-profile-wrapper {
    display: flex;
    flex-flow: column nowrap;
}

.partner-profile {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    font-size: 14px;
    line-height: 24px;
}

.partner-profile-info {
    display: flex;
    width: 100%;
}

.partner-profile-image {
    margin-right: 20px;
    overflow: hidden;
    width: 56px;
    height: 56px;
    min-width: 56px;
    border-radius: 28px;
}

.partner-image-wrapper {
    min-height: 1px;
}

.partner-profile-img-style {
    width: 56px;
    height: 56px;
}

.profile-content {
    display: flex;
    flex-flow: column;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
}

.partner-name-wrapper {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    max-width: 212px;
}

.partner-nickname {
    display: inline-flex;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.54px;
    color: rgb(51, 51, 51);
}

.partner-nation {
    margin-top: 2px;
    color: rgb(170, 170, 170);
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.36px;
}

.nation-img-style {
    width: 63px;
    height: 56px;
}

.section-container {
    padding: 40px 0px;
    border-top: 1px solid rgb(238, 238, 238);
    border-bottom: none;
}

.section-title {
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.save-btn:hover {
    box-shadow: none;
    transform: translateY(-1px);
    text-decoration: none;
    cursor: pointer;
}

.save-btn {
    color: #fff;
    background-color: #7a29fa;
    font-size: .8125rem;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 0.875rem 1rem;
    line-height: 1.5;
    border-radius: 0.375rem;
    margin-right: 0.5rem;
}

.input-container {
    padding: 1rem 0.25rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0.5rem -15px;
}

.col-left {
    width: 16.6%;
    padding-right: 15px;
    padding-left: 15px;
}

.input-label-style {
    font-size: 0.9rem;
    padding-left: 1rem;
    margin-top: 1rem;
    white-space: normal;
}

.text-danger {
    color: #f5365c;
/*    margin-left: -0.5rem;
    position: absolute;*/
}

.input-subject {
    font-size: 0.9rem;
    line-height: 1.5;
}

.col-right {
    width: 83.4%;
    padding-right: 5px;
    padding-left: 5px;
}

.input-group {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.input-text {
    box-shadow: none;
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
    font-size: .8125rem;
    height: calc(1.5em + 1.8rem + 5px);
    display: block;
    padding: 0.9rem 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ddd;
    border-right: 0;
    border-radius: 0.25rem 0 0 0.25rem;
}

.input-text-append {
    margin-left: -1px;
    display: flex;
}

.text-muted-container {
    font-size: 1rem;
    display: flex;
    align-items: center;
    padding: 0.9rem 1rem;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.5;
    color: #999;
    text-align: center;
    white-space: nowrap;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0 0.25rem 0.25rem 0;
    border-left: 0;
}

.text-muted {
    color: #999;
    font-size: 80%;
    font-weight: 400;
}

.comment-wrapper {
    padding: 0px;
}

.comment-form-wrapper {
    padding: 30px 0px;
    border-bottom: 1px solid rgb(238, 238, 238);
}

.comment-header {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 20px;
}

.comment-profile-image-wrapper {
    flex: 0 0 auto;
    margin-right: 14px;
    width: 48px;
    height: 48px;
    border-radius: 24px;
    overflow: hidden;
}

.comment-profile-image-style {
    width: 100%;
    border-radius: 5px;
}

.comment-profile-metadata {
    margin-right: auto;
}

.comment-nickname {
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 10px;
}

.comment-created-date {
    line-height: 10px;
    color: rgb(155, 155, 155);
    font-size: 10px;
}

.comment-body {
    resize: none;
    height: 100px;
    width: 100%;
    margin-bottom: 20px;
    white-space: pre-wrap;
    font-size: 12px;
    line-height: 22px;
    border: 1px solid rgb(238, 238, 238);
    box-sizing: border-box;
    border-radius: 3px;
    padding: 14px 14px 12px;
    color: rgb(17, 17, 17);
    font-weight: 400;
    letter-spacing: -0.03em;
    text-align: left;
    overflow: hidden;
}

.comment-btn-wrapper {
    display: flex;
    width: 100%;
    justify-content: end;
}

/* 모달창 */
.modal-container {
    position: fixed;
    top: 0px;
    left: 0px;
    /*display: flex;*/
    display:none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 3000;
    min-height: 1px;
}

.modal-flex {
    display: flex;
    flex-direction: row;
    max-width: 100%;
}

.modal-wrapper {
    position: relative;
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    overflow: hidden;
    z-index: 2;
    max-height: 80vh;
    border-radius: 5px;
    width: 360px;
}

.modal-body {
    text-align: center!important;
    padding: 1rem!important;
}

.modal-title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 600;
    line-height: 1.5;
    color: #333;
    margin-top: 0;
}

.modal-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem!important;
    border-top: 0 solid #ddd;
    border-bottom-right-radius: 0.4375rem;
    border-bottom-left-radius: 0.4375rem;
}

.btn-container {
    text-align: center!important;
}

.warning-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #7a29fa;
    cursor: pointer;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.7rem 1.9rem;
    line-height: 1.5;
    border-radius: 0.375rem;
    margin-right: 0.3rem;
}

.warning-btn:hover {
    text-decoration: none;
}

.secondary-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #111;
    background-color: #ddd;
    cursor: pointer;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.7rem 1.9rem;
    line-height: 1.5;
    border-radius: 0.375rem;
}

.secondary-btn:hover {
    text-decoration: none;
}

.modal-color {
    position: absolute;
    inset: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

