<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MemberList</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap"
          rel="stylesheet">
    <link href="/css/admin/memberDetail.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="logobox"><div id="logo"><a><img src="/images/main/logo.png"></a></div></div>

<div id="main_body">
    <div id="subnavigation">
        <ul>
            <li class="menu"> 
                <a><span>사용자 관리</span><span class="rightarrow"></span></a>
                <ul class="hide">
                    <li class="normalcolor"><a>회원 관리</a></li>

                </ul>
            </li>
            <li class="menu"> 
                <a><span>컨텐츠 관리</span><span class="rightarrow"></span></a>
                <ul class="hide">
                    <li class="normalcolor"><a>만남과 도움 관리</a></li>
                    <li class="normalcolor"><a>숙소가 필요해 관리</a></li>
                </ul>
            </li>
            <li class="menu"> 
                <a><span>공지사항 관리</span><span class="rightarrow"></span></a>
                <ul class="hide">
                    <li class="normalcolor"><a>공지사항 관리</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div id="subnavigation_result">
        <div id="subnavigation_result_header">
            <div id="subnavigation_result_title">
                <h2>만남과 도움 상세</h2>
                <span>만남과 도움 상세 목록입니다</span>
            </div>
            <!--            <div id="subnavigation_how_array">-->
            <!--                <div class="subnavigation_how">-->
            <!--                    <div class="subnavigation_how_title">카테고리</div>-->
            <!--                    <div class="subnavigation_how_main">-->
            <!--                        <select class="selectnormalcolor">-->
            <!--                            <option>이름</option>-->
            <!--                            <option>나이</option>-->
            <!--                            <option>성별</option>-->
            <!--                            <option>직업</option>-->
            <!--                        </select>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--                <div class="subnavigation_how">-->
            <!--                    <div class="subnavigation_how_title">정렬방식</div>-->
            <!--                    <div class="subnavigation_how_main">-->
            <!--                        <select class="selectnormalcolor">-->
            <!--                            <option>아이디오름차순</option>-->
            <!--                            <option>아이디내림차순</option>-->

            <!--                        </select>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--                <div id="inquire"><button>조회</button></div>-->
            <!--            </div>-->

        </div>

        <div id="subnavigation_result_body">
            <div id="subnavigation_search_and_delete">
<!--                <div id="subnavigation_search">-->
<!--                    <span></span>-->
<!--                    <input type="text" name="search_member" placeholder="검색"/>-->
<!--                </div>-->

            </div>
            <div id="subnavigation_list">
                <div id="subnavigation_list_title">
                    <!--<input type="checkbox" />-->
                    <span>만남 번호</span>
                    <input type="text" value="1"/>

                </div>
                <div class="subnavigation_list_detail">
                    <!--<input type="checkbox" name="select_member"/>-->
                    <span>멤버 번호</span>
                    <input type="text" value="2"/>

                </div>
                <div class="subnavigation_list_detail">
                    <!--<input type="checkbox" name="select_member"/>-->
                    <span>제목</span>
                    <input type="text" value="영어 회화를 배우고 싶어요"/>
                </div>
                <div class="subnavigation_list_detail">
                    <!--<input type="checkbox" name="select_member"/>-->
                    <span>배울 언어</span>
                    <input type="text" value="ENGLISH"/>

                </div>
                <div class="subnavigation_list_detail">
                    <!--<input type="checkbox" name="select_member"/>-->
                    <span>내용</span>
                    <input type="text" value="읽고쓰는건 인터넷사전 검색하면서 하면 대충하는데, 회화를 못하겠어요. 한국어와 영어 언어교환 구해요"/>

                </div>
                <div class="subnavigation_list_detail">
                    <!--<input type="checkbox" name="select_member"/>-->
                    <span>작성 일자</span>
                    <input type="text" value="2022-11-20"/>

                </div>
                <div class="subnavigation_list_detail">
                    <!--<input type="checkbox" name="select_member"/>-->
                    <span>수정 일자</span>
                    <input type="text" value="2022-11-22"/>

                </div>
                <div class="subnavigation_list_detail">
                    <!--<input type="checkbox" name="select_member"/>-->
                    <span>주소</span>
                    <input type="text" value="서울시 강남구"/>
                </div>
                <div class="subnavigation_list_detail">
                    <!--<input type="checkbox" name="select_member"/>-->
                    <span>상세 주소</span>
                    <input type="text" value="역삼동"/>
                </div>
            </div>

            <div id="back_and_submit" style="margin-top: 30px">
                <button >목록으로</button>
                <button type="submit">수정하기</button>
            </div>

        </div>

    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/admin/admin.js"></script>
</html>