<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Global Exchange</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap"
          rel="stylesheet">

    <link href="/css/admin/noticeDetail.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div id="logobox">
    <div id="logo">
        <a>
            <img src="/images/main/logo.png" th:onclick="|location.href='@{/admin/memberList}'|">
        </a>
    </div>
</div>
<div id="main_body">
    <div id="subnavigation">
        <ul>
            <li class="menu"> 
                <a>
                    <span>사용자 관리</span>
                    <span class="rightarrow"></span>
                </a>
                <ul class="hide">
                    <li class="normalcolor">
                        <a th:onclick="|location.href='@{/admin/memberList}'|">회원 관리</a>
                    </li>
                </ul>
            </li>
            <li class="menu"> 
                <a>
                    <span>컨텐츠 관리</span>
                    <span class="rightarrow"></span>
                </a>
                <ul class="hide">
                    <li class="normalcolor">
                        <a th:onclick="|location.href='@{/admin/meetList}'|">만남과 도움 관리</a>
                    </li>
                    <!--<li class="normalcolor">
                        <a th:onclick="|location.href='@{/admin/lodgingList}'|">숙소가 필요해 관리</a>
                    </li>-->
                </ul>
            </li>
            <li class="menu"> 
                <a>
                    <span>공지사항 관리</span>
                    <span class="rightarrow"></span>
                </a>
                <ul class="hide">
                    <li class="normalcolor">
                        <a th:onclick="|location.href='@{/admin/noticeList}'|">공지사항 관리</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div id="subnavigation_result">
        <div id="subnavigation_result_header">
            <div id="subnavigation_result_title">
                <h2>공지사항 상세보기</h2>
                <span>공지사항 상세보기 입니다</span>
            </div>
        </div>
        <div id="subnavigation_result_body">
            <form method="get" th:action="@{/admin/noticeDelete}" th:object="${notice}" id="deleteForm">
                <div id="subnavigation_list">
                    <div class="subnavigation_list_detail">
                        <span>번호</span>
                        <input type="text" th:field="*{noticeNumber}" readonly>
                    </div>
                    <div class="subnavigation_list_detail">
                        <span>제목</span>
                        <input type="text" th:field="*{noticeTitle}" readonly>
                    </div>
                    <div class="subnavigation_list_detail">
                        <span>작성 일자</span>
                        <input type="text" th:field="*{noticeWriteDate}" readonly>
                    </div>
                    <div class="subnavigation_list_detail">
                        <span>수정 일자</span>
                        <input type="text" th:field="*{noticeUpdateDate}" readonly>
                    </div>
                    <div class="subnavigation_list_detail content-style">
                        <span>내용</span>
                        <pre th:text="*{noticeContent}"></pre>
                    </div>
                </div>
                <ul class="button-conatiner">
                    <div class="button-wrapper">
                        <li>
                            <input type="button" class="button-style" value="목록으로"
                                   th:onclick="|location.href='@{/admin/noticeList(page = ${criteria.page}, amount = ${criteria.amount})}'|">
                        </li>
                        <li>
                            <input type="button" class="button-style" value="수정"
                                   th:onclick="|location.href='@{/admin/noticeUpdate(page = ${criteria.page}, amount = ${criteria.amount}, noticeNumber = ${notice.noticeNumber})}'|">
                        </li>
                        <li>
                            <input type="submit" class="button-style" value="삭제">
                        </li>
                    </div>
                </ul>
            </form>
        </div>
    </div>
</div>
<!-- 공지사항 삭제 모달창 -->
<div class="modal-container modal-overlay">
    <div class="modal-flex">
        <div class="modal-wrapper">
            <div class="modal-body">
                <h2 class="modal-title">공지사항을 삭제 하시겠습니까?</h2>
                <div >
                    공지사항을 삭제합니다.
                </div>
            </div>
            <footer class="modal-footer">
                <div class="btn-container">
                    <button id="yesBtn" class="frip-btn">
                        네
                    </button>
                    <button id="noBtn" class="secondary-btn">
                        아니오
                    </button>
                </div>
            </footer>
        </div>
    </div>
    <div class="modal-color"></div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/admin/admin.js"></script>
<script th:inline="javascript">
    const $delete = $('input[type=submit]');

    // 모달창
    const $yesBtn = $('#yesBtn');
    const $noBtn = $('#noBtn');
    const modalContainer = document.querySelector(".modal-container");
    let $noticeNumber = [[${notice.noticeNumber}]];

    function openModal() {
        document.body.style.overflow = "hidden";
    };

    function closeModal() {
        document.body.style.overflow = "unset";
    };

    $delete.on('click', function (e) {
        e.preventDefault();
        modalContainer.style.display = "flex";
        openModal();
    })

    // 게시글 삭제 버튼 클릭 시
    $yesBtn.on('click', function () {
        location.href = "/admin/noticeDelete?noticeNumber=" + $noticeNumber;
        modalContainer.style.display = "none";
        closeModal();
    });

    // 게시글 삭제 취소 클릭 시
    $noBtn.on('click', function () {
        modalContainer.style.display = "none";
        closeModal();
    });
</script>
</html>