*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: SUIT, "UI Frip", "Noto Sans KR", Helvetica, Arial, sans-serif;
}

#topHeader{
    width:100%;
    height:32px;
    background-color: rgb(244, 244, 244);
    display:flex;
    align-items:center;
    margin:0 auto;
}

#topHeader > div {
    width:768px;
    height:32px;
    background-color: inherit;
    display:flex;
    align-items:center;
    margin:0 auto;
}

#topHeaderText{
    display:flex;
    align-items:center;
    width:407px;
    height:14px;
    margin-left:480px;
}

.top-header-button{
    color:#777777;
    font-size: 10px;
    line-height: 14px;
    font-family: SUIT, "UI Frip", "Noto Sans KR", Helvetica, Arial, sans-serif;
    margin-left:10px;
    cursor: pointer;
}

.memberNickname-style {
    font-weight: bold;
}

#header{
    width:1519px;
    height:88px;
    background:#ffffff;
    border-bottom:1px solid  rgb(244, 244, 244);
    margin:0 auto;
}

.logout-btn{
    display:inline-block;
    width:48px;
    height:20px;
    padding:3px 3px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(204, 204, 204);
    border-radius: 3px;
    color: rgb(102, 102, 102);
    cursor: pointer;
    font-size:8px;
    line-height: 14px;
}

#header > div{
    width:768px;
    height:88px;
    padding:22px 20px 8px;
    display:flex;
    align-items:center;
    margin:0 auto;
}

#header a{
    display:inline-block;
    cursor:pointer;
}

#logo{
    width:88px;
    height:58px;
}

#logo>img{
    width: 68px;
    height: 30px;
    margin-top:17px;
    margin-left:5px;
}

#searchSection{
    width:427px;
    height:38px;
    margin:10px 0px 0px;
    padding:0px 14px;
    border-radius: 19px;
    background-color: rgb(244, 244, 244);
}

#searchSection img{
    display:inline-block;
    width:24px;
    height:24px;
    margin: 5px 5px 0 0;
    vertical-align:middle;
    cursor: pointer;
}

#searchSection input{
    width:346px;
    height:24px;
    padding:1px 2px;
    margin-top:5px;
    vertical-align:middle;
    outline:none;
    border:0px;
    background-color: rgb(244, 244, 244);
}

#diary, #meetAndHelp, #guestHouse{
    width:70px;
    height:51px;
    margin-left:10px;

    text-align:center;
}

.header-icon{
    width:48px;
    height:34px;

    margin-left:8px;
    margin-right:8px;
}

.header-icon>img{

    width:48px;
    height:34px;
    background-size:contain;
}

.header-icon-text{
    display:inline-block;
    width:100%;
    height:14px;
    margin-top:3px;
    text-align:center;
    font-family: SUIT, "UI Frip", "Noto Sans KR", Helvetica, Arial, sans-serif;
    color:#aaaaaa;
    font-size:11px;
}