* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}

ul, li {
  list-style: none;
}

img {
  border-style: none;
}

.list-page {
  display: flex;
  flex-flow: column nowrap;
  align-content: flex-start;
  margin: 0px auto;
  max-width: 808px;
  width: 100%;
  padding: 0px 20px;
}

.list-page-title{
  padding: 30px 0px;
  line-height: 24px;
  font-size: 24px;
  font-weight: bold;
  /*border-bottom: 1px solid rgb(230, 230, 230);*/
}

#mainFilter{
  width:100%;
  height:70px;
  border-bottom: 1px solid rgb(230, 230, 230);
  padding:5px 0 40px;
}

#mainFilter>button{
  width:66px;
  height:38px;

  padding: 11px 10px;

  text-align: center;

  background-color: transparent;
  cursor: pointer;
  border: 1px solid rgb(238, 238, 238);
  border-radius: 5px;

  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
}

.modal-container {
  position: fixed;
  top: 0px;
  left: 0px;
  /*display: flex;*/
  display:none;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 3000;
  min-height: 1px;
}

.modal-flex {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}

.modal-wrapper {
  position: relative;
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  background-color: white;
  overflow: hidden;
  z-index: 2;
  max-height: 80vh;
  border-radius: 5px;
}

.modal-header-wrapper {
  display: flex;
  justify-content: space-between;
  flex: 0 0 60px;
  align-items: center;
  padding: 0px 18px;
  font-weight: bold;
  border-bottom: 1px solid rgb(238, 238, 238);
}

.modal-country-header {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 22px;
}

.modal-title {
  line-height: 16px;
  font-size: 16px;
  font-weight: bold;
}

.close-btn {
  cursor: pointer;
  border: none;
  background-color: white;
}

.modal-div-wrapper {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  min-height: 0px;
  height: 100%;
}

.modal-country-section {
  padding: 0px 40px;
  min-width: 360px;
  height: 446px;
  overflow: scroll;
  overflow-x: hidden;
}

.modal-country-select {
  padding-top: 30px;
  padding-bottom: 10px;
}

.modal-country-name {
  padding-bottom: 20px;
  font-weight: bold;
}

.modal-country-box {
  font-family: inherit;
}

.modal-radio-input-wrapper {
  display: flex;
  position: relative;
  flex-flow: column wrap;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(238, 238, 238);
}

.modal-radio-input {
  display: inline-flex;
  font-size: 13px;
  min-height: 50px;
  justify-content: flex-start;
  align-items: center;
  flex-basis: auto;
  padding-right: initial;
}

.modal-label {
  font-family: inherit;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-radio {
  display: inline-flex;
  position: relative;
  width: 18px;
  height: 18px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  background-image: url("../../images/modal/modalInputBtn.svg");
}
.modal-radio-circle1{
  width:13px;
  height:13px;
  border-radius:50%;
  border:1px solid white;
  background-color:white;
}

.modal-radio-circle2{
  width:13px;
  height:13px;
  border-radius:50%;
  border:1px solid white;
  background-color:white;
}
.modal-input {
  position: absolute;
  width: 0px;
  height: 0px;
  display: none;
}

.modal-footer-wrapper {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90px;
  padding: 20px;
  background-color: white;
}

.modal-footer-btn {
  width: 280px;
  height: 50px;
  line-height: 13px;
  padding: 20px 0px;
  background-color: rgb(51, 151, 255);
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  font-size: 13px;
  font-weight: bold;
  border: none;
}

.modal-color {
  position: absolute;
  inset: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.post-button {
  background-color: rgb(122, 41, 250);
  color: white;
  text-align: center;
  cursor: pointer;
  padding: 5px;
  font-size: 12px;
  width: 40px;
  border-radius: 5px;
  border: 0;
  margin-top: 10px;
}

.list-content {
  display: flex;
  justify-content: space-between;
  min-height: 60px;
  line-height: 24px;
  padding: 18px 0px;
  font-size: 14px;
  cursor: pointer;
  border-bottom: 1px solid rgb(230, 230, 230);
  align-items: center;
}

.list-number {
  line-height: 20px;
  width: 48px;
  font-size: 13px;
  text-align: center;
}

.list-title {
  flex: 1 1 auto;
}

.list-title-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}



.list-date {
  flex: 0 0 auto;
  margin-left: 10px;
  color: rgb(155, 155, 155);
  font-size: 12px;
  font-weight: normal;
}

.list-pagination {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 30px 0px;
  background-color: white;
}

.prev-button-wrapper {
  display: flex;
  margin-right: 10px;
}

.arrow-button {
  width: 40px;
  height: 40px;
  line-height: normal;
  background-color: white;
  text-align: center;
  border-radius: 50%;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}

.rotate {
  transform: rotate(180deg);
}

.button-number {
  width: 40px;
  height: 40px;
  line-height: normal;
  background-color: white;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  color: black;
  font-size: 18px;
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}

.next-button-wrapper {
  display: flex;
  margin-left: 10px;
}

button:disabled {
  cursor: not-allowed;
}

.arrow-button:hover {
  background-color: rgb(244,244,244);
}

.button-number:hover {
  background-color: rgb(244,244,244);
}

.number-check {
  color: rgb(51, 151, 255);
  font-weight: bold;
}

.list-title a.read{
  width: 100%;
  height: 100%;
}