<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>diary detail</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <link href="/css/main/header.css" rel="stylesheet" type="text/css" />
    <link href="/css/main/footer.css" rel="stylesheet" type="text/css" />
    <link href="/css/search/searchList.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="app">
    <div class="appWrapper">
        <!-- header -->
        <div th:replace="/main/header.html::topHeader(memberNumber = ${session.memberNumber}, memberNickname = ${session.memberNickname})"></div>
        <div th:replace="/main/header.html:: header "></div>

        <!-- main -->
        <div class="wrapper">
            <div class="header">
                    <span class="title">
                        게시물 검색 결과
                    </span>
            </div>
            <!--<div class="category-filter-wrapper">
                <div class="category-list-wrapper">
                    <a th:href="@{/diary/list}" class="category not-selected-category">
                        내가 작성
                    </a>
                    <a th:href="@{/diary/listWrittenByPartner}" class="category not-selected-category">
                        파트너가 작성
                    </a>
                    <a th:href="@{/diary/write}" class="category not-selected-category">
                        교환 일기 작성
                    </a>
                    <a th:href="@{/diary/partnerList}" class="category">
                        교환 일기 파트너
                    </a>
                </div>
                <div class="filter-button-wrapper">
                    <div class="filter-open-button-wrapper">
                        <button class="filter-button">
                            필터
                        </button>
                    </div>
                </div>
            </div>-->
            <div class="diary-list-wrapper">
                <section class="previewContents" >
                    <div class="previewContentsHeader">
                        <div class="previewContentsHeaderTitle">
                            <h2 class="previewContentsHeaderTitleText" >
                                만남과 도움 게시글
                            </h2>
                            <!--html 커스텀 속성주기-->
                            <h2 class="previewContentsHeaderTitleTextTotalGo" data-postsType="MEET">
                                전체보기
                            </h2>
                        </div>
                    </div>
                    <div class="previewContentsMain">
                        <!-- th:object랑 th:each랑 같이 쓰면 * 쓸때 충돌난다.-->
                        <div class="previewContentMain"  th:each="board:${boardsInMeet}">
                            <!--thymeleaf로 html 사용자 정의 속성 주기 data-이름짓기  -->
                            <a class="read" href="javascript:void(0)" th:data-postNumber="${board.postNumber}" th:data-postType="${board.postType}">
                                <div class="image-wrapper">
                                    <th:block th:if="${not #strings.isEmpty(board.fileVO)}">
                                        <img class="previewContentImage" th:if="${board.fileVO.fileImageCheck}"
                                             th:src="@{/fileMeet/display(fileName=${board.fileVO.fileUploadPath} + '/' + ${board.fileVO.fileUuid} + '_' + ${board.fileVO.fileName})}">
                                        <img class="previewContentImage" th:unless="${board.fileVO.fileImageCheck}" src="/images/member/defaultProfileImg.png"/>
                                    </th:block>
                                    <th:block th:unless="${not #strings.isEmpty(board.fileVO)}">
                                        <img class="previewContentImage" src="/images/member/defaultProfileImg.png">
                                    </th:block>
                                </div>
                                <div class="previewContentText">
                                    <div class="preview-content-sub" th:text="${board.postLearningLang}"></div>
                                    <div class="preview-content-main"th:text="${board.postTitle}"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </section>




                <section class="previewContents" >
                    <div class="previewContentsHeader">
                        <div class="previewContentsHeaderTitle">
                            <h2 class="previewContentsHeaderTitleText" >
                                숙소가 필요해 게시글
                            </h2>
                            <!--html 커스텀 속성주기-->
                            <h2 class="previewContentsHeaderTitleTextTotalGo" data-postsType="LODGING">
                                전체보기
                            </h2>
                        </div>
                    </div>
                    <div class="previewContentsMain">
                        <!-- th:object랑 th:each랑 같이 쓰면 * 쓸때 충돌난다.-->
                        <div class="previewContentMain"  th:each="board:${boardsInLodging}">
                            <!--thymeleaf로 html 사용자 정의 속성 주기 data-이름짓기  -->
                            <a class="read" href="javascript:void(0)" th:data-postNumber="${board.postNumber}" th:data-postType="${board.postType}">
                                <div class="image-wrapper">
                                    <th:block th:if="${not #strings.isEmpty(board.fileVO)}">
                                        <img class="previewContentImage" th:if="${board.fileVO.fileImageCheck}"
                                             th:src="@{/fileMeet/display(fileName=${board.fileVO.fileUploadPath} + '/' + ${board.fileVO.fileUuid} + '_' + ${board.fileVO.fileName})}">
                                        <img class="previewContentImage" th:unless="${board.fileVO.fileImageCheck}" src="/images/member/defaultProfileImg.png"/>
                                    </th:block>
                                    <th:block th:unless="${not #strings.isEmpty(board.fileVO)}">
                                        <img class="previewContentImage" src="/images/member/defaultProfileImg.png">
                                    </th:block>
                                </div>
                                <div class="previewContentText">
                                    <div class="preview-content-sub" th:text="${board.postLearningLang}"></div>
                                    <div class="preview-content-main"th:text="${board.postTitle}"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </section>
            </div>
            <!--<div class="pagination-wrapper" th:object="${pagination}">
                <a class="change-page start-page" th:href="*{startPage - 1}" th:if="*{prev}">
                    <code><</code>
                </a>
                <th:block th:each="pageNumber:${#numbers.sequence(pagination.startPage, pagination.endPage)}">
                    <a class="change-page page-number not-selected" th:href="${pageNumber}" th:if="${pagination.criteria.page != pageNumber}">
                        <code th:text="${pageNumber}"></code>
                    </a>
                    <a class="change-page page-number" th:unless="${pagination.criteria.page != pageNumber}">
                        <code th:text="${pageNumber}"></code>
                    </a>
                </th:block>
                <a class="change-page end-page" th:href="*{endPage + 1}" th:if="*{next}">
                    <code>></code>
                </a>
            </div>-->
           <!-- <form th:action="@{/search/list}" th:object="${criteria}" name="pageForm">
                <input type="hidden" th:field="*{page}">
                <input type="hidden" th:field="*{amount}">
                <input type="hidden" th:field="${searchKeyWord}">

            </form>-->
        </div>

        <!-- footer -->
        <div th:replace="/main/footer.html:: footerFirst"></div>
    </div>
</div>

<!-- 모달창 -->
<div class="modal-container modal-overlay">
    <div class="modal-flex">
        <div class="modal-wrapper">
            <header class="modal-header-wrapper">
                <div class="modal-country-header">
                    <span class="modal-title">언어</span>
                </div>
                <button class="close-btn">
                    <img src="/images/modal/modalCloseBtn.svg" alt="닫기 버튼">
                </button>
            </header>
            <div class="modal-div-wrapper">
                <div class="modal-country-section">
                    <div class="modal-country-select">
                        <div>
                            <div class="modal-country-name">언어</div>
                            <div class="modal-country-box">
                                <div class="modal-radio-input-wrapper">
                                    <div class="modal-radio-input">
                                        <label for="modalInput0" class="modal-label">
                                            전체
                                            <div class="modal-radio"><div class="modal-radio-circle"></div></div>
                                            <input name="language" value="ALL" type="radio" class="modal-input" id="modalInput0" checked>
                                        </label>
                                    </div>
                                    <div class="modal-radio-input">
                                        <label for="modalInput1" class="modal-label">
                                            영어
                                            <div class="modal-radio"><div class="modal-radio-circle"></div></div>
                                            <input name="language" value="ENGLISH" type="radio" class="modal-input" id="modalInput1">
                                        </label>
                                    </div>
                                    <div class="modal-radio-input">
                                        <label for="modalInput2" class="modal-label">
                                            스페인어
                                            <div class="modal-radio"><div class="modal-radio-circle"></div></div>
                                            <input name="language" value="SPANISH" type="radio" class="modal-input" id="modalInput2">
                                        </label>
                                    </div>
                                    <div class="modal-radio-input">
                                        <label for="modalInput3" class="modal-label">
                                            프랑스어
                                            <div class="modal-radio"><div class="modal-radio-circle"></div></div>
                                            <input name="language" value="FRENCH" type="radio" class="modal-input" id="modalInput3">
                                        </label>
                                    </div>
                                    <div class="modal-radio-input">
                                        <label for="modalInput4" class="modal-label">
                                            독일어
                                            <div class="modal-radio"><div class="modal-radio-circle"></div></div>
                                            <input name="language" value="GERMAN" type="radio" class="modal-input" id="modalInput4">
                                        </label>
                                    </div>
                                    <div class="modal-radio-input">
                                        <label for="modalInput5" class="modal-label">
                                            이탈리아어
                                            <div class="modal-radio"><div class="modal-radio-circle"></div></div>
                                            <input name="language" value="ITALIAN" type="radio" class="modal-input" id="modalInput5">
                                        </label>
                                    </div>
                                    <div class="modal-radio-input">
                                        <label for="modalInput6" class="modal-label">
                                            포르투갈어
                                            <div class="modal-radio"><div class="modal-radio-circle"></div></div>
                                            <input name="language" value="PORTUGUESE" type="radio" class="modal-input" id="modalInput6">
                                        </label>
                                    </div>
                                    <div class="modal-radio-input">
                                        <label for="modalInput7" class="modal-label">
                                            러시아어
                                            <div class="modal-radio"><div class="modal-radio-circle"></div></div>
                                            <input name="language" value="RUSSIAN" type="radio" class="modal-input" id="modalInput7">
                                        </label>
                                    </div>
                                    <div class="modal-radio-input">
                                        <label for="modalInput8" class="modal-label">
                                            일본어
                                            <div class="modal-radio"><div class="modal-radio-circle"></div></div>
                                            <input name="language" value="JAPANESE" type="radio" class="modal-input" id="modalInput8">
                                        </label>
                                    </div>
                                    <div class="modal-radio-input">
                                        <label for="modalInput9" class="modal-label">
                                            중국어
                                            <div class="modal-radio"><div class="modal-radio-circle"></div></div>
                                            <input name="language" value="CHINESE" type="radio" class="modal-input" id="modalInput9">
                                        </label>
                                    </div>
                                    <div class="modal-radio-input">
                                        <label for="modalInput10" class="modal-label">
                                            한국어
                                            <div class="modal-radio"><div class="modal-radio-circle"></div></div>
                                            <input name="language" value="KOREAN" type="radio" class="modal-input" id="modalInput10">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="modal-footer-wrapper">
                <button class="modal-footer-btn">적용하기</button>
            </footer>
        </div>
    </div>
    <div class="modal-color"></div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script th:inline="javascript">
    /*const modalContainer = document.querySelector(".modal-container");
    const btnModal = document.querySelector('.filter-button');
    const btnsRadio = document.querySelectorAll(".modal-input");
    const CirclesRadio=document.querySelectorAll(".modal-radio-circle");
    const $modalFooterBtn = $('.modal-footer-btn');
    const $inputs = $('input[name=language]');*/
    const $read = $('.read');
    /*let $chosenLang = "";*/

    //게시글 이미지 눌렀을때 상세페이지로 이동
    $read.on('click', function (e) {
        e.preventDefault();
        let postType=$(this).attr('data-postType');
        if(postType=="MEET"){
            location.href = "/meetingAndHelp/detail?" + "meetNumber=" + $(this).attr('data-postNumber');
        }
        else if(postType=="LODGING"){
            location.href = "/needLodging/detail?" + "lodgingNumber=" + $(this).attr('data-postNumber');
        }
        //e.preventDefault();
        console.log($(this).data('href'));
        console.log($(this).data('postType'));
    });

    //전체보기 눌렀을때 각 게시글 종류 성격에 맞춰서 리스트 이동
    let searchKeyWord=[[${searchKeyWord}]];
    $(".previewContentsHeaderTitleTextTotalGo").on('click',function(e){
        e.preventDefault();
        let postsType=$(this).attr('data-postsType');
        if(postsType=="MEET"){
            location.href = "/search/listInMeet?searchKeyWord="+searchKeyWord;
        }
        else if(postsType=="LODGING"){
            location.href = "/search/listInLodging?searchKeyWord="+searchKeyWord;
        }
    });

    //검색어 input 태그 부분 값 유지
    $('input[name=searchKeyWord]').val(searchKeyWord);

    //검색어 부분 하이라이터
    let search = searchKeyWord;
    $(".preview-content-main:contains('"+search+"')").each(function () {
        //‘플래그’는 정규 표현식의 옵션으로서, 검색 방식을 설정하기 위해 사용한다.
        //g 가 있는 표현식은 모든 검색 결과를 배열로 반환한다.
        //‘영어 대소문자를 구분하지 않겠다’는 의미이다.
        //자바스크립트 정규식 생성법
        let regex = new RegExp(search,'gi');

        //replace() 함수는 문자열에서 변경하려는 문자열이 여러 번 반복될 경우, 첫 번째로 발견한 문자열만 치환
        //불행하게도 Javascript에는 replaceAll() 이라는 함수는 없습니다.
        //replace 함수와 정규식(regular expression)을 사용하여 대소문자 구분없이, 모든 문자열을 치환하는 방법
        $(this).html( $(this).text().replace(regex, "<span class='text-purple'>"+search+"</span>") );
    });
    /*window.onload=function(){
        let search = searchKeyWord;
        $(".preview-content-main:contains('"+search+"')").each(function () {
            let regex = new RegExp(search,'gi');
            $(this).html( $(this).text().replace(regex, "<span class='text-purple'>"+search+"</span>") );
        });
    };*/
    /*$('input[name=searchKeyWord]').keyup(function () {
        let search = searchKeyWord;
        $(".preview-content-main:contains('"+search+"')").each(function () {
            let regex = new RegExp(search,'gi');
            $(this).html( $(this).text().replace(regex, "<span class='text-purple'>"+search+"</span>") );
        });
    });*/


    // 부모스크롤 비활성화
    /*const openModal = () => {
        document.body.style.overflow = "hidden";
    };*/

    // 부모스크롤 활성화
    /*const closeModal = () => {
        document.body.style.overflow = "unset";
    };*/

    /*btnModal.addEventListener("click", e => {
        modalContainer.style.display = "flex";
        openModal();
    });*/

    /*const closeBtn = modalContainer.querySelector(".close-btn")
    closeBtn.addEventListener("click", e => {
        modalContainer.style.display = "none";
        closeModal();
    });*/


    // 필터 라디오
   /* CirclesRadio[0].style.backgroundColor="#3377FF";*/

    /*let prev;
    btnsRadio.forEach((btnRadio,index)=>{
        btnRadio.addEventListener("click",function(){

            CirclesRadio[0].style.backgroundColor="white";

            if(prev!=null){
                prev.style.backgroundColor="white";
            }
            CirclesRadio[index].style.backgroundColor="#3377FF";
            prev=CirclesRadio[index];
        });
    });*/

    // 적용 버튼을 눌렀을 때
   /* $modalFooterBtn.on('click', function () {
        $inputs.each(function (index, item) {
            if($(item).prop('checked')){
                $chosenLang = $(this).val();
            }
        });
        modalContainer.style.display = "none";
        closeModal();
        location.href = "/diary/partnerList?page=1&amount=16&memberTeachingLang=" + $chosenLang;
    })*/

    // 페이지네이션 마우스 올렸을 때 이벤트
    /*const $pagenationAtags = $('.change-page');

    $pagenationAtags.hover(function () {
        $(this).css("background-color", 'rgb(229, 231, 234)');
    }, function () {
        $(this).css("background-color", 'transparent');
    });
*/
    // 페이지 버튼을 눌렀을 때 해당 페이지로 이동
    /*let $pages = $('.change-page');

    $pages.on('click', function (e) {
        e.preventDefault();
        $(document.pageForm.page).val($(this).attr('href'));
        /!*$(document.pageForm.memberTeachingLang).val($);*!/
        document.pageForm.submit();
    })*/
</script>


<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script th:inline="javascript">


    let memberNumber=[[${session.memberNumber}]];



</script>
<script src="/js/main/header.js" ></script>
</html>