<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <link href="/css/main/footer.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="footerFirst">
        <div id="footerSecond">
            <div id="footerBig">
                <div>문의사항</div>
                <div>관리자이메일:kjnam2009@naver.com</div>
            </div>
            <div id="footerMiddle">
                <div>운영시간:평일/주말10:00~17:00(점심:12:00-13:00)</div>
            </div>
            <div id="footerSmall">
                <div id="footerSmallTitle">
                    <div>Spring봄</div>
                </div>
                <div >(주)스프링봄</div>
                <div>통신판매업신고번호:2016-서울강남</div>
                <div>서울시 역삼역 코리아 it아카데미 강남</div>
                <div>(주)스프링봄은 영리를 목적으로 하는게 아니며 통신중개자입니다.</div>
                <div>(주)스프링봄은 행복한 it업계를 지향합니다.</div>
            </div>
        </div>
    </div>
</body>
</html>