<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Global Exchange</title>
    <!--<link href="/css/main/header.css" rel="stylesheet" type="text/css" />-->
    <link href="/css/main/loginAfterHeader.css" rel="stylesheet" type="text/css" />
    <link href="/css/main/footer.css" rel="stylesheet" type="text/css" />
    <link href="/css/main/main.css" rel="stylesheet" type="text/css" />


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>

        <!-- header -->
        <!--<div th:replace="/main/header.html:: topHeader "></div>
        <div th:replace="/main/header.html:: header "></div>-->
        <div th:replace="/main/loginAfterHeader.html:: topHeader "></div>
        <div th:replace="/main/loginAfterHeader.html:: header "></div>
        <!-- home -->
        <div id="home" style="">
            <section class="container">
                <div class="arrow prev">&lt;</div>
                <!--이 요소가 부모안에서 움직이고 부모는 넘치는거 안보여줌-->
                <div class="banner">
                    <div><img src="/images/main/001.png"></div>
                    <div><img src="/images/main/002.png"></div>
                    <div><img src="/images/main/003.png"></div>
                    <div><img src="/images/main/004.png"></div>
                    <div><img src="/images/main/005.png"></div>
                    <div><img src="/images/main/006.png"></div>
                </div>
                <div class="arrow next">&gt;</div>
               <!-- <div class="btns">
                    <button class="btn">1</button>
                    <button class="btn">2</button>
                    <button class="btn">3</button>
                    <button class="btn">4</button>
                    <button class="btn">5</button>
                    <button class="btn">6</button>
                </div>-->
            </section>
            <section id="nationalIconList">
                <div><img src="/images/main/americaIcon.png"/><span>영어</span></div>
                <div><img src="/images/main/spainIcon.png"/><span>스페인어</span></div>
                <div><img src="/images/main/franceIcon.png"/><span>프랑스어</span></div>
                <div><img src="/images/main/germanyIcon.png"/><span>독일어</span></div>
                <div><img src="/images/main/italyIcon.png"/><span>이탈리아어</span></div>
                <div><img src="/images/main/portugalIcon.png"/><span>포르투갈어</span></div>
                <div><img src="/images/main/russiaIcon.png"/><span>러시아어</span></div>
                <div><img src="/images/main/japanIcon.png"/><span>일본어</span></div>
                <div><img src="/images/main/chinaIcon.png"/><span>중국어</span></div>
                <div><img src="/images/main/southKoreaIcon.png"/><span>한국어</span></div>
            </section>
            <section class="previewContents">
                <div class="previewContentsHeader">
                    <div class="previewContentsHeaderTitle"><h2 class="previewContentsHeaderTitleText">만남과 도움 최신글</h2></div>
                    <a class="previewContentsLink">전체보기</a>
                </div>
                <div class="previewContentsMain">
                    <div class="previewContentMain">
                        <img class="previewContentImage" src="/images/main/previewImage.webp"/>
                        <div class="previewContentText">
                            <div class="previewContentHelp">미국</div>
                            <div class="previewContentTitle">미국 유학생활 질문</div>
                            <div class="previewContentAnswerCount"><span>댓글</span><span> 10개</span></div>
                        </div>
                    </div>
                    <div class="previewContentMain">
                        <img class="previewContentImage" src="/images/main/previewImage.webp"/>
                        <div class="previewContentText">
                            <div class="previewContentHelp">미국</div>
                            <div class="previewContentTitle">미국 유학생활 질문</div>
                            <div class="previewContentAnswerCount"><span>댓글</span><span> 10개</span></div>
                        </div>
                    </div>
                    <div class="previewContentMain">
                        <img class="previewContentImage" src="/images/main/previewImage.webp"/>
                        <div class="previewContentText">
                            <div class="previewContentHelp">미국</div>
                            <div class="previewContentTitle">미국 관공서 문서좀 봐주세요. 은행계좌를 설계해야하는데 너무 어려워요.</div>
                            <div class="previewContentAnswerCount"><span>댓글</span><span> 10개</span></div>
                        </div>
                    </div>
                    <div class="previewContentMain">
                        <img class="previewContentImage" src="/images/main/previewImage.webp"/>
                        <div class="previewContentText">
                            <div class="previewContentHelp">일본</div>
                            <div class="previewContentTitle">일본 관공서 문서좀 봐주세요. 은행계좌를 설계해야하는데 너무 어려워요.</div>
                            <div class="previewContentAnswerCount"><span>댓글</span><span> 10개</span></div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="previewContents">
                <div class="previewContentsHeader">
                    <div class="previewContentsHeaderTitle"><h2 class="previewContentsHeaderTitleText">만남과 도움 답변이 필요한 글</h2></div>
                    <a class="previewContentsLink">전체보기</a>
                </div>
                <div class="previewContentsMain">
                    <div class="previewContentMain">
                        <img class="previewContentImage" src="/images/main/previewImage.webp"/>
                        <div class="previewContentText">
                            <div class="previewContentHelp">미국</div>
                            <div class="previewContentTitle">미국 유학생활 질문</div>
                            <div class="previewContentAnswerCount"><span>댓글</span><span> 10개</span></div>
                        </div>
                    </div>
                    <div class="previewContentMain">
                        <img class="previewContentImage" src="/images/main/previewImage.webp"/>
                        <div class="previewContentText">
                            <div class="previewContentHelp">미국</div>
                            <div class="previewContentTitle">미국 유학생활 질문</div>
                            <div class="previewContentAnswerCount"><span>댓글</span><span> 10개</span></div>
                        </div>
                    </div>
                    <div class="previewContentMain">
                        <img class="previewContentImage" src="/images/main/previewImage.webp"/>
                        <div class="previewContentText">
                            <div class="previewContentHelp">미국</div>
                            <div class="previewContentTitle">미국 관공서 문서좀 봐주세요. 은행계좌를 설계해야하는데 너무 어려워요.</div>
                            <div class="previewContentAnswerCount"><span>댓글</span><span> 10개</span></div>
                        </div>
                    </div>
                    <div class="previewContentMain">
                        <img class="previewContentImage" src="/images/main/previewImage.webp"/>
                        <div class="previewContentText">
                            <div class="previewContentHelp">일본</div>
                            <div class="previewContentTitle">일본 관공서 문서좀 봐주세요. 은행계좌를 설계해야하는데 너무 어려워요.</div>
                            <div class="previewContentAnswerCount"><span>댓글</span><span> 10개</span></div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="previewContents">
                <div class="previewContentsHeader">
                    <div class="previewContentsHeaderTitle"><h2 class="previewContentsHeaderTitleText">숙소가 필요해 최신글</h2></div>
                    <a class="previewContentsLink">전체보기</a>
                </div>
                <div class="previewContentsMain">
                    <div class="previewContentMain">
                        <img class="previewContentImage" src="/images/main/previewImage.webp"/>
                        <div class="previewContentText">
                            <div class="previewContentHelp">미국</div>
                            <div class="previewContentTitle">미국 유학생활 질문</div>
                            <div class="previewContentAnswerCount"><span>댓글</span><span> 10개</span></div>
                        </div>
                    </div>
                    <div class="previewContentMain">
                        <img class="previewContentImage" src="/images/main/previewImage.webp"/>
                        <div class="previewContentText">
                            <div class="previewContentHelp">미국</div>
                            <div class="previewContentTitle">미국 유학생활 질문</div>
                            <div class="previewContentAnswerCount"><span>댓글</span><span> 10개</span></div>
                        </div>
                    </div>
                    <div class="previewContentMain">
                        <img class="previewContentImage" src="/images/main/previewImage.webp"/>
                        <div class="previewContentText">
                            <div class="previewContentHelp">미국</div>
                            <div class="previewContentTitle">미국 관공서 문서좀 봐주세요. 은행계좌를 설계해야하는데 너무 어려워요.</div>
                            <div class="previewContentAnswerCount"><span>댓글</span><span> 10개</span></div>
                        </div>
                    </div>
                    <div class="previewContentMain">
                        <img class="previewContentImage" src="/images/main/previewImage.webp"/>
                        <div class="previewContentText">
                            <div class="previewContentHelp">일본</div>
                            <div class="previewContentTitle">일본 관공서 문서좀 봐주세요. 은행계좌를 설계해야하는데 너무 어려워요.</div>
                            <div class="previewContentAnswerCount"><span>댓글</span><span> 10개</span></div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="previewContents">
                <div class="previewContentsHeader">
                    <div class="previewContentsHeaderTitle"><h2 class="previewContentsHeaderTitleText">만남과 도움 답변이 필요한 글</h2></div>
                    <a class="previewContentsLink">전체보기</a>
                </div>
                <div class="previewContentsMain">
                    <div class="previewContentMain">
                        <img class="previewContentImage" src="/images/main/previewImage.webp"/>
                        <div class="previewContentText">
                            <div class="previewContentHelp">미국</div>
                            <div class="previewContentTitle">미국 유학생활 질문</div>
                            <div class="previewContentAnswerCount"><span>댓글</span><span> 10개</span></div>
                        </div>
                    </div>
                    <div class="previewContentMain">
                        <img class="previewContentImage" src="/images/main/previewImage.webp"/>
                        <div class="previewContentText">
                            <div class="previewContentHelp">미국</div>
                            <div class="previewContentTitle">미국 유학생활 질문</div>
                            <div class="previewContentAnswerCount"><span>댓글</span><span> 10개</span></div>
                        </div>
                    </div>
                    <div class="previewContentMain">
                        <img class="previewContentImage" src="/images/main/previewImage.webp"/>
                        <div class="previewContentText">
                            <div class="previewContentHelp">미국</div>
                            <div class="previewContentTitle">미국 관공서 문서좀 봐주세요. 은행계좌를 설계해야하는데 너무 어려워요.</div>
                            <div class="previewContentAnswerCount"><span>댓글</span><span> 10개</span></div>
                        </div>
                    </div>
                    <div class="previewContentMain">
                        <img class="previewContentImage" src="/images/main/previewImage.webp"/>
                        <div class="previewContentText">
                            <div class="previewContentHelp">일본</div>
                            <div class="previewContentTitle">일본 관공서 문서좀 봐주세요. 은행계좌를 설계해야하는데 너무 어려워요.</div>
                            <div class="previewContentAnswerCount"><span>댓글</span><span> 10개</span></div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <!-- footer -->
        <div th:replace="/main/footer.html:: footerFirst"></div>

</body>
<!--<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>-->
<!--<script src="/js/main/main.js" th:inline="javascript"></script>-->
<script src="/js/main/main.js" ></script>
</html>

