<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Global Exchange</title>
    <link href="/css/main/header.css" rel="stylesheet" type="text/css" />
    <link href="/css/main/footer.css" rel="stylesheet" type="text/css" />
    <link href="/css/main/main.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
        <!-- header -->
        <div th:replace="/main/header.html::topHeader(memberNumber = ${session.memberNumber}, memberNickname = ${session.memberNickname})"></div>
        <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
        <script th:inline="javascript">
            $('#joinMember').on('click', function () {
                // alert("눌림");
                location.href = "/member/joinForm";
            });
        </script>
        <div th:replace="/main/header.html::header"></div>

        <!-- home -->

        <div id="home" style="">
            <section class="container">
                <div class="arrow prev">&lt;</div>
                <!--이 요소가 부모안에서 움직이고 부모는 넘치는거 안보여줌-->
                <div class="banner">
                    <div><img src="/images/main/001.png"></div>
                    <div><img src="/images/main/002.png"></div>
                    <div><img src="/images/main/003.png"></div>
                    <div><img src="/images/main/004.png"></div>
                    <div><img src="/images/main/005.png"></div>
                    <div><img src="/images/main/006.png"></div>
                </div>
                <div class="arrow next">&gt;</div>
               <!-- <div class="btns">
                    <button class="btn">1</button>
                    <button class="btn">2</button>
                    <button class="btn">3</button>
                    <button class="btn">4</button>
                    <button class="btn">5</button>
                    <button class="btn">6</button>
                </div>-->
            </section>
            <section id="nationalIconList">
                <div>
                    <img src="/images/main/americaIcon.png"
                         th:onclick="|location.href='@{/diary/partnerList(page = 1, amount = 16, memberTeachingLang = ENGLISH)}'|">
                    <span>영어</span>
                </div>
                <div>
                    <img src="/images/main/spainIcon.png"
                         th:onclick="|location.href='@{/diary/partnerList(page = 1, amount = 16, memberTeachingLang = SPANISH)}'|">
                    <span>스페인어</span>
                </div>
                <div>
                    <img src="/images/main/franceIcon.png"
                         th:onclick="|location.href='@{/diary/partnerList(page = 1, amount = 16, memberTeachingLang = FRENCH)}'|">
                    <span>프랑스어</span>
                </div>
                <div>
                    <img src="/images/main/germanyIcon.png"
                         th:onclick="|location.href='@{/diary/partnerList(page = 1, amount = 16, memberTeachingLang = GERMAN)}'|">
                    <span>독일어</span>
                </div>
                <div>
                    <img src="/images/main/italyIcon.png"
                         th:onclick="|location.href='@{/diary/partnerList(page = 1, amount = 16, memberTeachingLang = ITALIAN)}'|">
                    <span>이탈리아어</span>
                </div>
                <div>
                    <img src="/images/main/portugalIcon.png"
                         th:onclick="|location.href='@{/diary/partnerList(page = 1, amount = 16, memberTeachingLang = PORTUGUESE)}'|">
                    <span>포르투갈어</span>
                </div>
                <div>
                    <img src="/images/main/russiaIcon.png"
                         th:onclick="|location.href='@{/diary/partnerList(page = 1, amount = 16, memberTeachingLang = RUSSIAN)}'|">
                    <span>러시아어</span>
                </div>
                <div>
                    <img src="/images/main/japanIcon.png"
                         th:onclick="|location.href='@{/diary/partnerList(page = 1, amount = 16, memberTeachingLang = JAPANESE)}'|">
                    <span>일본어</span>
                </div>
                <div>
                    <img src="/images/main/chinaIcon.png"
                         th:onclick="|location.href='@{/diary/partnerList(page = 1, amount = 16, memberTeachingLang = CHINESE)}'|">
                    <span>중국어</span>
                </div>
                <div>
                    <img src="/images/main/southKoreaIcon.png"
                         th:onclick="|location.href='@{/diary/partnerList(page = 1, amount = 16, memberTeachingLang = KOREAN)}'|">
                    <span>한국어</span>
                </div>
            </section>
            <section class="previewContents">
                <div class="previewContentsHeader">
                    <div class="previewContentsHeaderTitle">
                        <h2 class="previewContentsHeaderTitleText">만남과 도움 최신글</h2>
                    </div>
                    <a class="previewContentsLink" th:href="@{/meetingAndHelp/list}">전체보기</a>
                </div>
                <div class="previewContentsMain">
                    <div class="previewContentMain" th:each="latestAnsweredMeet:${latestAnsweredMeetList}" th:object="${latestAnsweredMeet}">
                        <a th:href="@{/meetingAndHelp/detail(meetNumber = *{meetNumber})}">
                            <div class="image-wrapper">
                                <th:block th:if="${not #strings.isEmpty(latestAnsweredMeet.fileMeetVO)}">
                                    <img class="previewContentImage" th:if="${latestAnsweredMeet.fileMeetVO.fileImageCheck}"
                                         th:src="@{/fileMeet/display(fileName=${latestAnsweredMeet.fileMeetVO.fileUploadPath} + '/' + ${latestAnsweredMeet.fileMeetVO.fileUuid} + '_' + ${latestAnsweredMeet.fileMeetVO.fileName})}">
                                    <img class="previewContentImage" th:unless="${latestAnsweredMeet.fileMeetVO.fileImageCheck}" src="/images/noImage/no-image.jpg"/>
                                </th:block>
                                <th:block th:unless="${not #strings.isEmpty(latestAnsweredMeet.fileMeetVO)}">
                                    <img class="previewContentImage" src="/images/noImage/no-image.jpg">
                                </th:block>
                            </div>
                            <div class="previewContentText">
                                <div class="previewContentHelp" th:text="*{meetLearningLang}"></div>
                                <div class="previewContentTitle" th:text="*{meetTitle}"></div>
                                <div class="previewContentAnswerCount">
                                    댓글 <span th:text="*{meetAnswerCount}"></span> 개
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </section>
            <section class="previewContents">
                <div class="previewContentsHeader">
                    <div class="previewContentsHeaderTitle"><h2 class="previewContentsHeaderTitleText">만남과 도움 답변이 필요한 글</h2></div>
                    <a class="previewContentsLink" th:href="@{/meetingAndHelp/list}">전체보기</a>
                </div>
                <div class="previewContentsMain">
                    <div class="previewContentMain" th:each="latestNotAnsweredMeet:${latestNotAnsweredMeetList}" th:object="${latestNotAnsweredMeet}">
                        <a th:href="@{/meetingAndHelp/detail(meetNumber = *{meetNumber})}">
                            <div class="image-wrapper">
                                <th:block th:if="${not #strings.isEmpty(latestNotAnsweredMeet.fileMeetVO)}">
                                    <img class="previewContentImage" th:if="${latestNotAnsweredMeet.fileMeetVO.fileImageCheck}"
                                         th:src="@{/fileMeet/display(fileName=${latestNotAnsweredMeet.fileMeetVO.fileUploadPath} + '/' + ${latestNotAnsweredMeet.fileMeetVO.fileUuid} + '_' + ${latestNotAnsweredMeet.fileMeetVO.fileName})}">
                                    <img class="previewContentImage" th:unless="${latestNotAnsweredMeet.fileMeetVO.fileImageCheck}" src="/images/noImage/no-image.jpg"/>
                                </th:block>
                                <th:block th:unless="${not #strings.isEmpty(latestNotAnsweredMeet.fileMeetVO)}">
                                    <img class="previewContentImage" src="/images/noImage/no-image.jpg">
                                </th:block>
                            </div>
                            <div class="previewContentText">
                                <div class="previewContentHelp" th:text="*{meetLearningLang}"></div>
                                <div class="previewContentTitle" th:text="*{meetTitle}"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </section>
            <section class="previewContents">
                <div class="previewContentsHeader">
                    <div class="previewContentsHeaderTitle"><h2 class="previewContentsHeaderTitleText">숙소가 필요해 최신글</h2></div>
                    <a class="previewContentsLink" th:href="@{/needLodging/list}">전체보기</a>
                </div>
                <div class="previewContentsMain">
                    <div class="previewContentMain" th:each="latestAnsweredLodging:${latestAnsweredLodgingList}" th:object="${latestAnsweredLodging}">
                        <a th:href="@{/needLodging/detail(lodgingNumber = *{lodgingNumber})}">
                            <div class="image-wrapper">
                                <th:block th:if="${not #strings.isEmpty(latestAnsweredLodging.fileLodgingVO)}">
                                    <img class="previewContentImage" th:if="${latestAnsweredLodging.fileLodgingVO.fileImageCheck}"
                                         th:src="@{/fileMeet/display(fileName=${latestAnsweredLodging.fileLodgingVO.fileUploadPath} + '/' + ${latestAnsweredLodging.fileLodgingVO.fileUuid} + '_' + ${latestAnsweredLodging.fileLodgingVO.fileName})}">
                                    <img class="previewContentImage" th:unless="${latestAnsweredLodging.fileLodgingVO.fileImageCheck}" src="/images/noImage/no-image.jpg"/>
                                </th:block>
                                <th:block th:unless="${not #strings.isEmpty(latestAnsweredLodging.fileLodgingVO)}">
                                    <img class="previewContentImage" src="/images/noImage/no-image.jpg">
                                </th:block>
                            </div>
                            <div class="previewContentText">
                                <div class="previewContentHelp" th:text="*{lodgingLearningLang}"></div>
                                <div class="previewContentTitle" th:text="*{lodgingTitle}"></div>
                                <div class="previewContentAnswerCount">
                                    댓글 <span th:text="*{lodgingAnswerCount}"></span> 개
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </section>
            <section class="previewContents">
                <div class="previewContentsHeader">
                    <div class="previewContentsHeaderTitle"><h2 class="previewContentsHeaderTitleText">숙소가 필요해 답변이 필요한 글</h2></div>
                    <a class="previewContentsLink" th:href="@{/needLodging/list}">전체보기</a>
                </div>
                <div class="previewContentsMain">
                    <div class="previewContentMain" th:each="latestNotAnsweredLodging:${latestNotAnsweredLodgingList}" th:object="${latestNotAnsweredLodging}">
                        <a th:href="@{/needLodging/detail(lodgingNumber = *{lodgingNumber})}">
                            <div class="image-wrapper">
                                <th:block th:if="${not #strings.isEmpty(latestNotAnsweredLodging.fileLodgingVO)}">
                                    <img class="previewContentImage" th:if="${latestNotAnsweredLodging.fileLodgingVO.fileImageCheck}"
                                         th:src="@{/fileMeet/display(fileName=${latestNotAnsweredLodging.fileLodgingVO.fileUploadPath} + '/' + ${latestNotAnsweredLodging.fileLodgingVO.fileUuid} + '_' + ${latestNotAnsweredLodging.fileLodgingVO.fileName})}">
                                    <img class="previewContentImage" th:unless="${latestNotAnsweredLodging.fileLodgingVO.fileImageCheck}" src="/images/noImage/no-image.jpg"/>
                                </th:block>
                                <th:block th:unless="${not #strings.isEmpty(latestNotAnsweredLodging.fileLodgingVO)}">
                                    <img class="previewContentImage" src="/images/noImage/no-image.jpg">
                                </th:block>
                            </div>
                            <div class="previewContentText">
                                <div class="previewContentHelp" th:text="*{lodgingLearningLang}"></div>
                                <div class="previewContentTitle" th:text="*{lodgingTitle}"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </section>
        </div>

        <!-- footer -->
        <div th:replace="/main/footer.html:: footerFirst"></div>
</body>
<script src="/js/main/main.js"></script>

<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script th:inline="javascript">


    let memberNumber=[[${session.memberNumber}]];



</script>
<script src="/js/main/header.js" ></script>
</html>

