<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>공지사항</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap"
          rel="stylesheet">
    <link href="/css/main/header.css" rel="stylesheet" type="text/css"/>
    <link href="/css/main/footer.css" rel="stylesheet" type="text/css"/>
    <link href="/css/notice/notice.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div>
    <!-- header -->
    <div th:replace="/main/header.html:: topHeader "></div>
    <div th:replace="/main/header.html:: header "></div>

    <!-- section -->
    <div id="root">
        <h1>공지사항</h1>
        <div id="noticeAll">
            <span>전체</span>
        </div>
        <ul id="noticeList">
            <li>
                <div class="notice-wrapper">
                    <div class="notice-mark">공지</div>
                    <div class="notice-title">프립톡 서비스 종료 안내(11/23 종료)
                        <span>New</span>
                    </div>
                    <div class="notice-date">2022-11-17 16:22</div>
                </div>
                <div class="notice-content">
                    <div class="notice-content-text">
                        안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요
                        안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요
                    </div>
                </div>
            </li>
            <li>
                <div class="notice-wrapper">
                    <div class="notice-mark">공지</div>
                    <div class="notice-title">고객센터 상담 서비스 일부 변경 안내</div>
                    <div class="notice-date">2022-11-17 16:22</div>
                </div>
                <div class="notice-content">
                    <div class="notice-content-text">
                        안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요
                        안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요
                    </div>
                </div>
            </li>
            <li>
                <div class="notice-wrapper">
                    <div class="notice-mark">공지</div>
                    <div class="notice-title">카카오톡 연계 서비스 장애 관련 안내 (10/17 18:00 정상화)</div>
                    <div class="notice-date">2022-11-17 16:22</div>
                </div>
                <div class="notice-content">
                    <div class="notice-content-text">
                        안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요
                        안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요
                    </div>
                </div>
            </li>
            <li>
                <div class="notice-wrapper">
                    <div class="notice-mark">공지</div>
                    <div class="notice-title">10월 공휴일 (10/3,9,10) 고객센터 운영시간 안내</div>
                    <div class="notice-date">2022-11-17 16:22</div>
                </div>
                <div class="notice-content"></div>
            </li>
            <li>
                <div class="notice-wrapper">
                    <div class="notice-mark">공지</div>
                    <div class="notice-title">iOS 최소 지원 버전 업데이트 안내</div>
                    <div class="notice-date">2022-11-17 16:22</div>
                </div>
                <div class="notice-content"></div>
            </li>
            <li>
                <div class="notice-wrapper">
                    <div class="notice-mark">공지</div>
                    <div class="notice-title">프립톡 서비스 종료 안내(11/23 종료)</div>
                    <div class="notice-date">2022-11-17 16:22</div>
                </div>
                <div class="notice-content"></div>
            </li>
            <li>
                <div class="notice-wrapper">
                    <div class="notice-mark">공지</div>
                    <div class="notice-title">고객센터 상담 서비스 일부 변경 안내</div>
                    <div class="notice-date">2022-11-17 16:22</div>
                </div>
                <div class="notice-content"></div>
            </li>
            <li>
                <div class="notice-wrapper">
                    <div class="notice-mark">공지</div>
                    <div class="notice-title">카카오톡 연계 서비스 장애 관련 안내 (10/17 18:00 정상화)</div>
                    <div class="notice-date">2022-11-17 16:22</div>
                </div>
                <div class="notice-content"></div>
            </li>
            <li>
                <div class="notice-wrapper">
                    <div class="notice-mark">공지</div>
                    <div class="notice-title">10월 공휴일 (10/3,9,10) 고객센터 운영시간 안내</div>
                    <div class="notice-date">2022-11-17 16:22</div>
                </div>
                <div class="notice-content"></div>
            </li>
            <li>
                <div class="notice-wrapper">
                    <div class="notice-mark">공지</div>
                    <div class="notice-title">iOS 최소 지원 버전 업데이트 안내</div>
                    <div class="notice-date">2022-11-17 16:22</div>
                </div>
                <div class="notice-content"></div>
            </li>
            <li>
                <div class="notice-wrapper">
                    <div class="notice-mark">공지</div>
                    <div class="notice-title">프립톡 서비스 종료 안내(11/23 종료)</div>
                    <div class="notice-date">2022-11-17 16:22</div>
                </div>
                <div class="notice-content"></div>
            </li>
            <li>
                <div class="notice-wrapper">
                    <div class="notice-mark">공지</div>
                    <div class="notice-title">고객센터 상담 서비스 일부 변경 안내</div>
                    <div class="notice-date">2022-11-17 16:22</div>
                </div>
                <div class="notice-content"></div>
            </li>
            <li>
                <div class="notice-wrapper">
                    <div class="notice-mark">공지</div>
                    <div class="notice-title">카카오톡 연계 서비스 장애 관련 안내 (10/17 18:00 정상화)</div>
                    <div class="notice-date">2022-11-17 16:22</div>
                </div>
                <div class="notice-content"></div>
            </li>
            <li>
                <div class="notice-wrapper">
                    <div class="notice-mark">공지</div>
                    <div class="notice-title">10월 공휴일 (10/3,9,10) 고객센터 운영시간 안내</div>
                    <div class="notice-date">2022-11-17 16:22</div>
                </div>
                <div class="notice-content"></div>
            </li>
            <li>
                <div class="notice-wrapper">
                    <div class="notice-mark">공지</div>
                    <div class="notice-title">iOS 최소 지원 버전 업데이트 안내</div>
                    <div class="notice-date">2022-11-17 16:22</div>
                </div>
                <div class="notice-content"></div>
            </li>
            <li>
                <div class="notice-wrapper">
                    <div class="notice-mark">공지</div>
                    <div class="notice-title">프립톡 서비스 종료 안내(11/23 종료)</div>
                    <div class="notice-date">2022-11-17 16:22</div>
                </div>
                <div class="notice-content"></div>
            </li>
            <li>
                <div class="notice-wrapper">
                    <div class="notice-mark">공지</div>
                    <div class="notice-title">고객센터 상담 서비스 일부 변경 안내</div>
                    <div class="notice-date">2022-11-17 16:22</div>
                </div>
                <div class="notice-content"></div>
            </li>
            <li>
                <div class="notice-wrapper">
                    <div class="notice-mark">공지</div>
                    <div class="notice-title">카카오톡 연계 서비스 장애 관련 안내 (10/17 18:00 정상화)</div>
                    <div class="notice-date">2022-11-17 16:22</div>
                </div>
                <div class="notice-content"></div>
            </li>
            <li>
                <div class="notice-wrapper">
                    <div class="notice-mark">공지</div>
                    <div class="notice-title">10월 공휴일 (10/3,9,10) 고객센터 운영시간 안내</div>
                    <div class="notice-date">2022-11-17 16:22</div>
                </div>
                <div class="notice-content"></div>
            </li>
            <li>
                <div class="notice-wrapper">
                    <div class="notice-mark">공지</div>
                    <div class="notice-title">iOS 최소 지원 버전 업데이트 안내</div>
                    <div class="notice-date">2022-11-17 16:22</div>
                </div>
                <div class="notice-content"></div>
            </li>
        </ul>
        <div id="pageNation">
            <div class="prev-button-group">
                <button class="arrow-button">
                    <img src="/images/notice/firstPageArrow.svg" class="arrow-img">
                </button>
                <button class="arrow-button">
                    <img src="/images/notice/prevArrow.svg" class="arrow-img">
                </button>
            </div>
            <button class="page-button first-page">1</button>
            <button class="page-button">2</button>
            <button class="page-button">3</button>
            <button class="page-button">4</button>
            <button class="page-button">5</button>
            <button class="page-button">6</button>
            <button class="page-button">7</button>
            <button class="page-button">8</button>
            <button class="page-button">9</button>
            <button class="page-button">10</button>
            <div class="next-button-group">
                <button class="arrow-button">
                    <img src="/images/notice/nextArrow.svg" class="arrow-img">
                </button>
                <button class="arrow-button">
                    <img src="/images/notice/lastPageArrow.svg" class="arrow-img">
                </button>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div th:replace="/main/footer.html:: footerFirst"></div>

</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/notice/notice.js"></script>
</html>