<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>diary detail</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="/css/main/header.css" rel="stylesheet" type="text/css" />
    <link href="/css/main/footer.css" rel="stylesheet" type="text/css" />
    <link href="/css/member/detail.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="app">
        <div class="appWrapper">
            <!-- header -->
            <div th:replace="/main/header.html::topHeader(memberNumber = ${session.memberNumber}, memberNickname = ${session.memberNickname})"></div>
            <div th:replace="/main/header.html::header "></div>

            <!-- main -->
            <header class="header-container">
                <section class="page-wrapper">
                    <article class="page-between-title-container">
                        <h1 class="title">
                            내 정보
                        </h1>
                    </article>
                </section>
            </header>
            <section class="info-container">
                <section class="page-wrapper">
                    <form name="memberInfo">
                        <div class="top">
                            <article class="image-container">
                                <label for="profileImage">
<!--                                    <img src="/images/member/sample5.png" alt="프로필 이미지" class="profile-image">-->
                                    <th:block th:if="${not #strings.isEmpty(memberDTO.fileProfileVO)}">
                                        <img th:if="${memberDTO.fileProfileVO.fileImageCheck}" th:src="@{/fileProfile/display(fileName=${memberDTO.fileProfileVO.fileUploadPath} + '/' + ${memberDTO.fileProfileVO.fileUuid} + '_' + ${memberDTO.fileProfileVO.fileName})}"  class="user-info-image"/>
                                        <img th:unless="${memberDTO.fileProfileVO.fileImageCheck}" src="/images/noImage/no-image.jpg" class="user-info-image"/>
                                    </th:block>
                                    <th:block th:unless="${not #strings.isEmpty(memberDTO.fileProfileVO)}">
                                        <img src="/images/noImage/no-image.jpg"  class="user-info-image" width="80px" height="80px">
                                    </th:block>
                                    <div class="image-camera-container">
                                        <img src="/images/member/camera.png" class="camera-image">
                                    </div>
                                </label>
                                <input type="file" name="profileImage" id="profileImage" class="file-input" disabled>
                            </article>
                            <button type="button" onclick="location.href='/member/write'" class="save-button">수정</button>
                        </div>
                        <article class="input-container">
                            <div>
                                <label for="memberNickname" class="input-label" >닉네임</label>
                                <input type="text" id="memberNickname" name="memberNickname" class="input-style" value="Jason" disabled th:value="${memberDTO.memberNickname}">
                            </div>
                            <div>
                                <label for="memberPhoneNumber" class="input-label">휴대폰 번호</label>
                                <input type="text" id="memberPhoneNumber" name="memberPhoneNumber" class="input-style" value="010-1111-2222" disabled  th:value="${memberDTO.memberPhoneNum}">
                            </div>
                            <div>
                                <label for="memberEmail" class="input-label" >이메일</label>
                                <input type="text" id="memberEmail" name="memberEmail" class="input-style" value="abc@google.com" disabled th:value="${memberDTO.memberId}">
                            </div>
                            <div>
                                <label for="memberBirthday" class="input-label" >생년월일</label>
                                <input type="text" id="memberBirthday" name="memberBirthday" class="input-style" value="901010"disabled th:value="${#strings.substring(memberDTO.memberBirthdate,0,10)}">
                            </div>
                            <div>
                                <label for="memberMotherTongue" class="input-label" >모국어</label>
                                <select name="memberTeachingLang" id="memberMotherTongue" class="input-style" disabled th:field="${memberDTO.memberTeachingLang}">
                                    <option value="ENGLISH">영어</option>
                                    <option value="SPANISH">스페인어</option>
                                    <option value="FRENCH">프랑스어</option>
                                    <option value="GERMAN">독일어</option>
                                    <option value="ITALIAN">이탈리아어</option>
                                    <option value="PORTUGUESE">포르투갈어</option>
                                    <option value="RUSSIAN">러시아어</option>
                                    <option value="JAPANESE">일본어</option>
                                    <option value="CHINESE">중국어</option>
                                    <option value="KOREAN">한국어</option>
                                </select>
                            </div>
                            <div>
                                <label for="memberWantToLearnLanguage" class="input-label" >배우고 싶은 언어</label>
                                <select name="memberLearningLang" id="memberWantToLearnLanguage" class="input-style" disabled th:field="${memberDTO.memberLearningLang}">
                                    <option value="ENGLISH">영어</option>
                                    <option value="SPANISH">스페인어</option>
                                    <option value="FRENCH">프랑스어</option>
                                    <option value="GERMAN">독일어</option>
                                    <option value="ITALIAN">이탈리아어</option>
                                    <option value="PORTUGUESE">포르투갈어</option>
                                    <option value="RUSSIAN">러시아어</option>
                                    <option value="JAPANESE">일본어</option>
                                    <option value="CHINESE">중국어</option>
                                    <option value="KOREAN">한국어</option>
                                </select>
                            </div>
                            <div>
                                <label for="memberInterest" class="input-label" >관심사</label>
                                <input type="text" id="memberInterest" name="memberInterest" class="input-style" value="등산"disabled th:value="${memberDTO.memberInteresting}">
                            </div>
                            <div>
                                <label for="memberIntroduction" class="input-label" >자기소개</label>
                                <div class="pre-tag" >
                                    <pre id="memberIntroduction" name="memberIntroduction" wrap="soft" class="text-area-style input-style" disabled th:text="${memberDTO.memberIntroduce}">
안녕하세요 전 서울에 사는 Jason입니다. Hello I'm Jason.
                                    </pre>
                                </div>
                            </div>
                        </article>
                    </form>
                    <div>
                        <a id="deleteBtn" class="member-delete" href="javascript:void(0)">
                            회원 탈퇴
                        </a>
                    </div>
                </section>
            </section>

            <!-- footer -->
            <div th:replace="/main/footer.html:: footerFirst"></div>
        </div>
    </div>

    <!-- modal -->
    <div class="modal-container modal-overlay">
        <div class="modal-flex">
            <div class="modal-wrapper">
                <div class="modal-body">
                    <h2 class="modal-title">회원 탈퇴를 하시겠습니까?</h2>
                    <div >
                        회원 탈퇴를 합니다.
                    </div>
                </div>
                <footer class="modal-footer">
                    <div class="btn-container">
                        <button id="yesBtn" class="warning-btn">
                            네
                        </button>
                        <button id="noBtn" class="secondary-btn">
                            아니오
                        </button>
                    </div>
                </footer>
            </div>
        </div>
        <div class="modal-color"></div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script>
    // 모달창
    const modalContainer = document.querySelector(".modal-container");

    function openModal() {
        document.body.style.overflow = "hidden";
    };

    function closeModal() {
        document.body.style.overflow = "unset";
    }

    const $deleteBtn = $('#deleteBtn');

    $deleteBtn.on('click', function (e) {
        e.preventDefault();
        modalContainer.style.display = "flex";
        openModal();
    })

    const $yesBtn = $('#yesBtn');
    const $noBtn = $('#noBtn');

    $yesBtn.on('click', function () {
        /* 해당 회원 정보를 삭제한다. */
        console.log('회원정보를 삭제합니다.');
        modalContainer.style.display = "none";
        closeModal();
    })

    $noBtn.on('click', function () {
        modalContainer.style.display = "none";
        closeModal();
    })
</script>

<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script th:inline="javascript">


    let memberNumber=[[${session.memberNumber}]];



</script>
<script src="/js/main/header.js" ></script>
</html>





