<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>diary detail</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="/css/main/header.css" rel="stylesheet" type="text/css" />
    <link href="/css/main/footer.css" rel="stylesheet" type="text/css" />
    <link href="/css/member/detail.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="app">
        <div class="appWrapper">
            <!-- header -->
            <div th:replace="/main/header.html::topHeader(${member})"></div>
            <div th:replace="/main/header.html::header "></div>

            <!-- main -->
            <header class="header-container">
                <section class="page-wrapper">
                    <article class="page-between-title-container">
                        <h1 class="title">
                            내 정보
                        </h1>
                    </article>
                </section>
            </header>
            <section class="info-container">
                <section class="page-wrapper">
                    <form name="memberInfo">
                        <div class="top">
                            <article class="image-container">
                                <label for="profileImage">
                                    <img src="/images/member/sample5.png" alt="프로필 이미지" class="profile-image">
                                    <div class="image-camera-container">
                                        <img src="/images/member/camera.png" class="camera-image">
                                    </div>
                                </label>
                                <input type="file" name="profileImage" id="profileImage" class="file-input" disabled>
                            </article>
                            <button type="button" onclick="javascript:void(0)" class="save-button">수정</button>
                        </div>
                        <article class="input-container">
                            <div>
                                <label for="memberNickname" class="input-label">닉네임</label>
                                <input type="text" id="memberNickname" name="memberNickname" class="input-style" value="Jason" disabled>
                            </div>
                            <div>
                                <label for="memberPhoneNumber" class="input-label">휴대폰 번호</label>
                                <input type="text" id="memberPhoneNumber" name="memberPhoneNumber" class="input-style" value="010-1111-2222" disabled>
                            </div>
                            <div>
                                <label for="memberEmail" class="input-label">이메일</label>
                                <input type="text" id="memberEmail" name="memberEmail" class="input-style" value="abc@google.com" disabled>
                            </div>
                            <div>
                                <label for="memberBirthday" class="input-label">생년월일</label>
                                <input type="text" id="memberBirthday" name="memberBirthday" class="input-style" value="901010"disabled>
                            </div>
                            <div>
                                <label for="memberMotherTongue" class="input-label">모국어</label>
                                <select name="memberMotherTongue" id="memberMotherTongue" class="input-style" disabled>
                                    <option value="eng">영어</option>
                                    <option value="spain">스페인어</option>
                                    <option value="france">프랑스어</option>
                                    <option value="germany">독일어</option>
                                    <option value="italy">이탈리아어</option>
                                    <option value="portugal">포르투갈어</option>
                                    <option value="russia">러시아어</option>
                                    <option value="japan">일본어</option>
                                    <option value="china">중국어</option>
                                    <option value="korea" selected>한국어</option>
                                </select>
                            </div>
                            <div>
                                <label for="memberWantToLearnLanguage" class="input-label">배우고 싶은 언어</label>
                                <select name="memberWantToLearnLanguage" id="memberWantToLearnLanguage" class="input-style" disabled>
                                    <option value="eng" selected>영어</option>
                                    <option value="spain">스페인어</option>
                                    <option value="france">프랑스어</option>
                                    <option value="germany">독일어</option>
                                    <option value="italy">이탈리아어</option>
                                    <option value="portugal">포르투갈어</option>
                                    <option value="russia">러시아어</option>
                                    <option value="japan">일본어</option>
                                    <option value="china">중국어</option>
                                    <option value="korea">한국어</option>
                                </select>
                            </div>
                            <div>
                                <label for="memberInterest" class="input-label">관심사</label>
                                <input type="text" id="memberInterest" name="memberInterest" class="input-style" value="등산"disabled>
                            </div>
                            <div>
                                <label for="memberIntroduction" class="input-label">자기소개</label>
                                <div class="pre-tag">
                                    <pre id="memberIntroduction" name="memberIntroduction" wrap="soft" class="text-area-style input-style" disabled>
안녕하세요 전 서울에 사는 Jason입니다. Hello I'm Jason.
                                    </pre>
                                </div>
                            </div>
                        </article>
                    </form>
                    <div>
                        <a id="deleteBtn" class="member-delete" href="javascript:void(0)">
                            회원 탈퇴
                        </a>
                    </div>
                </section>
            </section>

            <!-- footer -->
            <div th:replace="/main/footer.html:: footerFirst"></div>
        </div>
    </div>

    <!-- modal -->
    <div class="modal-container modal-overlay">
        <div class="modal-flex">
            <div class="modal-wrapper">
                <div class="modal-body">
                    <h2 class="modal-title">회원 탈퇴를 하시겠습니까?</h2>
                    <div >
                        회원 탈퇴를 합니다.
                    </div>
                </div>
                <footer class="modal-footer">
                    <div class="btn-container">
                        <button id="yesBtn" class="warning-btn">
                            네
                        </button>
                        <button id="noBtn" class="secondary-btn">
                            아니오
                        </button>
                    </div>
                </footer>
            </div>
        </div>
        <div class="modal-color"></div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script>
    // 모달창
    const modalContainer = document.querySelector(".modal-container");

    function openModal() {
        document.body.style.overflow = "hidden";
    };

    function closeModal() {
        document.body.style.overflow = "unset";
    }

    const $deleteBtn = $('#deleteBtn');

    $deleteBtn.on('click', function (e) {
        e.preventDefault();
        modalContainer.style.display = "flex";
        openModal();
    })

    const $yesBtn = $('#yesBtn');
    const $noBtn = $('#noBtn');

    $yesBtn.on('click', function () {
        /* 해당 회원 정보를 삭제한다. */
        console.log('회원정보를 삭제합니다.');
        modalContainer.style.display = "none";
        closeModal();
    })

    $noBtn.on('click', function () {
        modalContainer.style.display = "none";
        closeModal();
    })
</script>
</html>





