<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>diary detail</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="/css/main/header.css" rel="stylesheet" type="text/css" />
    <link href="/css/main/footer.css" rel="stylesheet" type="text/css" />
    <link href="/css/member/mypage.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="app">
        <div class="appWrapper">
            <!-- header -->
            <div th:replace="/main/header.html::topHeader(${member})"></div>
            <div th:replace="/main/header.html:: header "></div>

            <!-- main -->
            <div class="page-wrapper">
                <div class="mypage-user-info-wrapper">
                    <a href="javascript:void(0)" class="user-info-wrapper">
                        <img class="user-info-image" src="/images/member/sample5.png" alt="프로필 이미지">
                        <div class="user-info-text-wrapper">
                            <div id="memberNickName" class="user-info-nickname">
                                Jason Me
                            </div>
                            <div id="memberAccountType" class="user-info-account">
                                구글 계정
                            </div>
                        </div>
                    </a>
                </div>
                <div class="mypage-user-property-container">
                    <div>
                        <div class="user-property-title">
                            파트너와 나누고 있는 교환일기 수
                        </div>
                        <div class="user-property-value">
                            3
                        </div>
                    </div>
                    <div>
                        <div class="user-property-title">
                            내가 작성한<br> 게시글 수
                        </div>
                        <div class="user-property-value">
                            10
                        </div>
                    </div>
                    <div>
                        <div class="user-property-title">
                            내가 작성한<br> 답글 수
                        </div>
                        <div class="user-property-value">
                            9
                        </div>
                    </div>
                </div>
                <div class="mypage-domain-wrapper">
                    <header>교환일기 파트너 목록</header>
                    <div class="mypage-partner-list-wrapper">
                        <div class="partner-info-wrapper">
                            <div class="partner-info-container">
                                <div class="partner-profile-image-wrapper">
                                    <a href="javascript:void(0)">
                                        <img class="partner-profile-image" src="/images/member/sample2.png" alt="파트너 프로필 이미지">
                                    </a>
                                </div>
                                <div class="partner-meta-data">
                                    <a href="javascript:void(0)">
                                        <div id="partnerNickname" class="partner-meta-data-title">
                                            Tom Cruse
                                        </div>
                                    </a>
                                    <div class="partner-meta-data-row">
                                        <div class="partner-meta-data-nation">
                                            미국
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button onclick="modal()" class="partner-off-btn">파트너 끊기</button>
                        </div>
                        <div class="partner-info-wrapper">
                            <div class="partner-info-container">
                                <div class="partner-profile-image-wrapper">
                                    <a href="javascript:void(0)">
                                        <img class="partner-profile-image" src="/images/member/sample3.png" alt="파트너 프로필 이미지">
                                    </a>
                                </div>
                                <div class="partner-meta-data">
                                    <a href="javascript:void(0)">
                                        <div id="partnerNickname" class="partner-meta-data-title">
                                            John
                                        </div>
                                    </a>
                                    <div class="partner-meta-data-row">
                                        <div class="partner-meta-data-nation">
                                            영국
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button onclick="modal()" class="partner-off-btn">파트너 끊기</button>
                        </div>
                        <div class="partner-info-wrapper">
                            <div class="partner-info-container">
                                <div class="partner-profile-image-wrapper">
                                    <a href="javascript:void(0)">
                                        <img class="partner-profile-image" src="/images/member/sample1.png" alt="파트너 프로필 이미지">
                                    </a>
                                </div>
                                <div class="partner-meta-data">
                                    <a href="javascript:void(0)">
                                        <div id="partnerNickname" class="partner-meta-data-title">
                                            Alice Brown
                                        </div>
                                    </a>
                                    <div class="partner-meta-data-row">
                                        <div class="partner-meta-data-nation">
                                            뉴질랜드
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button onclick="modal()" class="partner-off-btn">파트너 끊기</button>
                        </div>
                    </div>
                </div>
                <div class="mypage-domain-wrapper">
                    <header>고객센터</header>
                    <a href="javascript:void(0)">
                        <div class="table-base">
                            <div class="table-row-content-wrapper">
                                <div class="table-row-title">공지사항</div>
                                <div></div>
                            </div>
                        </div>
                    </a>
                    <a href="javascript:void(0)">
                        <div class="table-base">
                            <div class="table-row-content-wrapper">
                                <div class="table-row-title">문의사항 작성하기</div>
                                <div></div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <!-- footer -->
            <div th:replace="/main/footer.html:: footerFirst"></div>
        </div>
    </div>

    <!-- modal -->
    <div class="modal-container modal-overlay">
        <div class="modal-flex">
            <div class="modal-wrapper">
                <div class="modal-body">
                    <h2 class="modal-title">교환일기 파트너를 끊으시겠습니까?</h2>
                    <div >
                        교환일기 파트너를 끊습니다.
                    </div>
                </div>
                <footer class="modal-footer">
                    <div class="btn-container">
                        <button id="yesBtn" class="warning-btn">
                            네
                        </button>
                        <button id="noBtn" class="secondary-btn">
                            아니오
                        </button>
                    </div>
                </footer>
            </div>
        </div>
        <div class="modal-color"></div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script th:inline="javascript">
    // 모달창
    const modalContainer = document.querySelector(".modal-container");

    function openModal() {
        document.body.style.overflow = "hidden";
    };

    function closeModal() {
        document.body.style.overflow = "unset";
    }

    function modal() {
        modalContainer.style.display = "flex";
        openModal();
    }

    const $yesBtn = $('#yesBtn');
    const $noBtn = $('#noBtn');

    $yesBtn.on('click', function () {
        /* 해당 파트너를 삭제한다. */
        console.log('파트너를 삭제합니다.');
        modalContainer.style.display = "none";
        closeModal();
    })

    $noBtn.on('click', function () {
        modalContainer.style.display = "none";
        closeModal();
    })
</script>
</html>





