<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>diary detail</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="/css/main/header.css" rel="stylesheet" type="text/css" />
    <link href="/css/main/footer.css" rel="stylesheet" type="text/css" />
    <link href="/css/member/mypage.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="app">
        <div class="appWrapper">
            <!-- header -->
            <div th:replace="/main/header.html::topHeader(memberNumber = ${session.memberNumber}, memberNickname = ${session.memberNickname})"></div>
            <div th:replace="/main/header.html:: header "></div>

            <!-- main -->
            <div class="page-wrapper">
                <div class="mypage-user-info-wrapper" onclick="location.href='/member/detail'">
                    <a href="javascript:void(0)" class="user-info-wrapper">
                        <!--<img class="user-info-image" src="/images/member/sample5.png" alt="프로필 이미지">-->
                        <th:block th:if="${not #strings.isEmpty(memberDTO.fileProfileVO)}">
                            <img th:if="${memberDTO.fileProfileVO.fileImageCheck}" th:src="@{/fileProfile/display(fileName=${memberDTO.fileProfileVO.fileUploadPath} + '/' + ${memberDTO.fileProfileVO.fileUuid} + '_' + ${memberDTO.fileProfileVO.fileName})}"  class="user-info-image"/>
                            <img th:unless="${memberDTO.fileProfileVO.fileImageCheck}" src="/images/noImage/no-image.jpg" class="user-info-image"/>
                        </th:block>
                        <th:block th:unless="${not #strings.isEmpty(memberDTO.fileProfileVO)}">
                            <img src="/images/noImage/no-image.jpg"  class="user-info-image">
                        </th:block>
                        <div class="user-info-text-wrapper">
                            <div id="memberNickName" class="user-info-nickname" th:text="${memberDTO.memberNickname}">
                                Jason Me
                            </div>
                            <div id="memberAccountType" class="user-info-account">
                                이메일 계정
                            </div>
                        </div>
                    </a>
                </div>
                <div class="mypage-user-property-container">
                    <div>
                        <div class="user-property-title">
                            파트너와 나누고 있는 교환일기 수
                        </div>
                        <div class="user-property-value" th:text="${diaryTotalPost}">
                            3
                        </div>
                    </div>
                    <div>
                        <div class="user-property-title">
                            내가 작성한<br> 게시글 수
                        </div>
                        <div class="user-property-value" th:text="${postTotal}">
                            10
                        </div>
                    </div>
                    <div>
                        <div class="user-property-title">
                            내가 작성한<br> 답글 수
                        </div>
                        <div class="user-property-value" th:text="${answerTotal}">
                            9
                        </div>
                    </div>
                </div>
                <div class="mypage-domain-wrapper">
                    <header>교환일기 파트너 목록</header>

                    <div class="mypage-partner-list-wrapper" id="partnerList">
                        <th:block th:each="partnerOne:${partnerList}">

                            <div class="partner-info-wrapper">
                                <div class="partner-info-container">
                                    <div class="partner-profile-image-wrapper">
                                        <a href="javascript:void(0)">
<!--                                            <img class="partner-profile-image" src="/images/member/sample3.png" alt="파트너 프로필 이미지">-->
                                            <th:block th:if="${not #strings.isEmpty(partnerOne.fileProfileVO)}">
                                                <img th:if="${partnerOne.fileProfileVO.fileImageCheck}" th:src="@{/fileProfile/display(fileName=${partnerOne.fileProfileVO.fileUploadPath} + '/' + ${partnerOne.fileProfileVO.fileUuid} + '_' + ${partnerOne.fileProfileVO.fileName})}"  class="user-info-image"/>
                                                <img th:unless="${partnerOne.fileProfileVO.fileImageCheck}" src="/images/noImage/no-image.jpg" class="user-info-image"/>
                                            </th:block>
                                            <th:block th:unless="${not #strings.isEmpty(partnerOne.fileProfileVO)}">
                                                <img src="/images/noImage/no-image.jpg"  class="user-info-image">
                                            </th:block>
                                        </a>
                                    </div>
                                    <div class="partner-meta-data">
                                        <a href="javascript:void(0)">
                                            <div id="partnerNickname" class="partner-meta-data-title" th:text="${partnerOne.memberNickname}">
                                                John
                                            </div>
                                        </a>
                                        <div class="partner-meta-data-row">
                                            <div class="partner-meta-data-nation" th:text="${partnerOne.memberTeachingLang}">
                                                영국
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="partner-off-btn " th:value="${partnerOne.memberNumber}">파트너 끊기</button>
                            </div>
                        </th:block>
                        <!--<div class="partner-info-wrapper">
                            <div class="partner-info-container">
                                <div class="partner-profile-image-wrapper">
                                    <a href="javascript:void(0)">
&lt;!&ndash;                                        <img class="partner-profile-image" src="/images/member/sample2.png" alt="파트너 프로필 이미지">&ndash;&gt;

                                    </a>
                                </div>
                                <div class="partner-meta-data">
                                    <a href="javascript:void(0)">
                                        <div id="partnerNickname" class="partner-meta-data-title" th:text="${partnerList.memberNickname}">
                                            Tom Cruse
                                        </div>
                                    </a>
                                    <div class="partner-meta-data-row">
                                        <div class="partner-meta-data-nation" th:text="${partnerList.memberTeachingLang}">
                                            미국
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button onclick="modal()" class="partner-off-btn">파트너 끊기</button>
                        </div>
                        <div class="partner-info-wrapper">
                            <div class="partner-info-container">
                                <div class="partner-profile-image-wrapper">
                                    <a href="javascript:void(0)">
                                        <img class="partner-profile-image" src="/images/member/sample3.png" alt="파트너 프로필 이미지">
                                    </a>
                                </div>
                                <div class="partner-meta-data">
                                    <a href="javascript:void(0)">
                                        <div id="partnerNickname" class="partner-meta-data-title">
                                            John
                                        </div>
                                    </a>
                                    <div class="partner-meta-data-row">
                                        <div class="partner-meta-data-nation">
                                            영국
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button onclick="modal()" class="partner-off-btn">파트너 끊기</button>
                        </div>
                        <div class="partner-info-wrapper">
                            <div class="partner-info-container">
                                <div class="partner-profile-image-wrapper">
                                    <a href="javascript:void(0)">
                                        <img class="partner-profile-image" src="/images/member/sample1.png" alt="파트너 프로필 이미지">
                                    </a>
                                </div>
                                <div class="partner-meta-data">
                                    <a href="javascript:void(0)">
                                        <div id="partnerNickname" class="partner-meta-data-title">
                                            Alice Brown
                                        </div>
                                    </a>
                                    <div class="partner-meta-data-row">
                                        <div class="partner-meta-data-nation">
                                            뉴질랜드
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button onclick="modal()" class="partner-off-btn">파트너 끊기</button>
                        </div>-->
                    </div>
                </div>
                <div class="mypage-domain-wrapper">
                    <header>고객센터</header>
                    <a href="javascript:void(0)">
                        <div class="table-base">
                            <div class="table-row-content-wrapper">
                                <div class="table-row-title" onclick="location.href='/notice/list'">공지사항</div>
                                <div></div>
                            </div>
                        </div>
                    </a>
                    <a href="javascript:void(0)">
                        <div class="table-base">
                            <div class="table-row-content-wrapper">
                                <div class="table-row-title" onclick="location.href='/question/question'">문의사항 작성하기</div>
                                <div></div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <!-- footer -->
            <div th:replace="/main/footer.html:: footerFirst"></div>
        </div>
    </div>

    <!-- modal -->
    <div class="modal-container modal-overlay">
        <div class="modal-flex">
            <div class="modal-wrapper">
                <div class="modal-body">
                    <h2 class="modal-title">교환일기 파트너를 끊으시겠습니까?</h2>
                    <div >
                        교환일기 파트너를 끊습니다.
                    </div>
                </div>
                <footer class="modal-footer">
                    <div class="btn-container">
                        <button id="yesBtn" class="warning-btn" >
                            네
                        </button>
                        <button id="noBtn" class="secondary-btn">
                            아니오
                        </button>
                    </div>
                </footer>
            </div>
        </div>
        <div class="modal-color"></div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script th:inline="javascript">

    // 모달창
    let partnerOneMemberNumber ;
    const $yesBtn = $('#yesBtn');
    const $noBtn = $('#noBtn');
    const modalContainer = document.querySelector(".modal-container");


    function openModal() {
        document.body.style.overflow = "hidden";
    };

    function closeModal() {
        document.body.style.overflow = "unset";
    };

    function modal() {
        modalContainer.style.display = "flex";
        openModal();
    };





    $noBtn.on('click', function () {
        modalContainer.style.display = "none";
        closeModal();
    });

    $(document).ready(function () {



    $("#partnerList").on("click",".partner-off-btn", function(){
        console.log('파트너 끊기 들어옴.');
        console.log($(this).attr('value'));
        partnerOneMemberNumber =  $(this).attr('value');
        console.log('파트너를 삭제합니다.'+ partnerOneMemberNumber);
        modal();

    });
    //     function clickPartnerOff() {
    //         console.log('파트너 끊기 들어옴.');
    //         console.log($(this).attr('value'));
    //         partnerOneMemberNumber =  $(this).attr('value');
    //         console.log('파트너를 삭제합니다.'+ partnerOneMemberNumber);
    //         modal();
    //     };

        $yesBtn.on('click', function () {
            /* 해당 파트너를 삭제한다. */
            console.log('파트너를 삭제합니다.');
            console.log('파트너를 삭제합니다.'+ partnerOneMemberNumber);
            $.ajax({
                url: "/member/mypagePartner/deletePartner/" + partnerOneMemberNumber,
                type:"get",
                contentType:"application/json; charset=utf-8",
                success: function(){
                    modalContainer.style.display = "none";
                    closeModal();
                    location.href='/member/mypage';
                },
                error: function(a, b, c){
                    console.log(a, b, c);
                }
            });

        });
    });
</script>

<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script th:inline="javascript">


    let memberNumber=[[${session.memberNumber}]];



</script>
<script src="/js/main/header.js" ></script>
</html>





