<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>diary detail</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="/css/main/header.css" rel="stylesheet" type="text/css" />
    <link href="/css/main/footer.css" rel="stylesheet" type="text/css" />
    <link href="/css/member/write.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="app">
    <div class="appWrapper">
        <!-- header -->
        <div th:replace="/main/header.html::topHeader(memberNumber = ${session.memberNumber}, memberNickname = ${session.memberNickname})"></div>
        <div th:replace="/main/header.html:: header "></div>

        <!-- main -->
        <header class="header-container">
            <section class="page-wrapper">
                <article class="page-between-title-container">
                    <h1 class="title">
                        내 정보
                    </h1>
                </article>
            </section>
        </header>
        <section class="info-container">
            <section class="page-wrapper">
                <form name="memberInfo" action="/member/writeOk" method="post">
                    <div class="top">
                        <article class="image-container">
                            <div id="profileInputStatus">
                                <label id="profileImageLabel" for="profileImage">
<!--                                    <img src="/images/member/sample5.png" alt="프로필 이미지" class="profile-image">-->
                                    <th:block th:if="${not #strings.isEmpty(memberDTO.fileProfileVO)}">
                                        <img  th:if="${memberDTO.fileProfileVO.fileImageCheck}" th:src="@{/fileProfile/display(fileName=${memberDTO.fileProfileVO.fileUploadPath} + '/' + ${memberDTO.fileProfileVO.fileUuid} + '_' + ${memberDTO.fileProfileVO.fileName})}"  class="user-info-image"/>
                                        <img  th:unless="${memberDTO.fileProfileVO.fileImageCheck}" src="/images/noImage/no-image.jpg" class="user-info-image"/>
                                    </th:block>
                                    <th:block th:unless="${not #strings.isEmpty(memberDTO.fileProfileVO)}">
                                        <img  src="/images/noImage/no-image.jpg"  class="user-info-image" width="80px" height="80px">
                                    </th:block>
                                    <div class="image-camera-container">
                                        <img src="/images/member/camera.png" class="camera-image">
                                    </div>
                                </label>
                                <input type="file" name="profileImage" id="profileImage" class="file-input" accept="image/gif, image/png, image/bmp, image/jpeg" >
                            </div>
                        </article>
                        <button id="saveBtn" type="submit" class="save-button" >저장</button>
                    </div>
                    <article class="input-container">
                        <div>
                            <label for="memberNickname" class="input-label">닉네임</label>
                            <input type="text" id="memberNickname" name="memberNickname" class="input-style"  th:value="${memberDTO.memberNickname}">
                            <div class="warning-text">닉네임을 입력해주세요.</div>
                        </div>
                        <div>
                            <label for="memberPhoneNumber" class="input-label">휴대폰 번호</label>
                            <input type="text" id="memberPhoneNumber" name="memberPhoneNum" class="input-style" placeholder="예) 010-1111-2222" th:value="${memberDTO.memberPhoneNum}">
                            <div class="warning-text">휴대폰 번호를 입력해주세요.</div>
                        </div>
                        <div>
                            <label for="memberEmail" class="input-label">이메일</label>
                            <!-- 이메일은 변경 불가하게 함. -->
                            <input type="text" id="memberEmail" name="memberId" class="input-style" value="abc@naver.com" disabled th:value="${memberDTO.memberId}">
                            <div class="warning-text">이메일 주소를 입력해주세요.</div>
                        </div>
                        <div>
                            <label for="memberBirthday" class="input-label">생년월일</label>
                            <!-- 생년월일은 변경 불가하게 함. -->
                            <input type="text" id="memberBirthday" name="memberBirthdate" class="input-style" value="990101" th:value="${#strings.substring(memberDTO.memberBirthdate,0,10)}">
                            <div class="warning-text">생년월일을 입력해주세요.</div>
                        </div>
                        <div>
                            <label for="memberMotherTongue" class="input-label">모국어</label>
                            <select name="memberTeachingLang" id="memberMotherTongue" class="input-style" th:field="${memberDTO.memberTeachingLang}">
                                <option value="ENGLISH">영어</option>
                                <option value="SPANISH">스페인어</option>
                                <option value="FRENCH">프랑스어</option>
                                <option value="GERMAN">독일어</option>
                                <option value="ITALIAN">이탈리아어</option>
                                <option value="PORTUGUESE">포르투갈어</option>
                                <option value="RUSSIAN">러시아어</option>
                                <option value="JAPANESE">일본어</option>
                                <option value="CHINESE">중국어</option>
                                <option value="KOREAN">한국어</option>
                            </select>
                            <div class="warning-text">가르치고 싶은 언어를 선택해주세요.</div>
                        </div>
                        <div>
                            <label for="memberWantToLearnLanguage" class="input-label">배우고 싶은 언어</label>
                            <select name="memberLearningLang" id="memberWantToLearnLanguage" class="input-style" th:field="${memberDTO.memberLearningLang}">
                                <option value="ENGLISH">영어</option>
                                <option value="SPANISH">스페인어</option>
                                <option value="FRENCH">프랑스어</option>
                                <option value="GERMAN">독일어</option>
                                <option value="ITALIAN">이탈리아어</option>
                                <option value="PORTUGUESE">포르투갈어</option>
                                <option value="RUSSIAN">러시아어</option>
                                <option value="JAPANESE">일본어</option>
                                <option value="CHINESE">중국어</option>
                                <option value="KOREAN">한국어</option>
                            </select>
                            <div class="warning-text">배우고 싶은 언어를 선택해주세요.</div>
                        </div>
                        <div>
                            <label for="memberInterest" class="input-label">관심사</label>
                            <input type="text" id="memberInterest" name="memberInteresting" class="input-style" th:value="${memberDTO.memberInteresting}">
                            <div class="warning-text">관심사를 입력해주세요.</div>
                        </div>
                        <div>
                            <label for="memberIntroduction" class="input-label">자기소개</label>
                            <textarea id="memberIntroduction" name="memberIntroduce" placeholder="간단한 자기 소개를 작성해주세요."
                                      wrap="soft" maxlength="500" class="text-area-style input-style" th:text="${memberDTO.memberIntroduce}"></textarea>
                            <div class="warning-text">자기소개를 작성해주세요.</div>
                            <small class="character-count">0/500</small>
                        </div>
                    </article>
                    <input type="hidden" name="fileProfileVO.fileName"/>
                    <input type="hidden" name="fileProfileVO.fileUploadPath"/>
                    <input type="hidden" name="fileProfileVO.fileUuid"/>
                    <input type="hidden" name="fileProfileVO.fileImageCheck"/>
                    <input type="hidden" name="fileProfileVO.fileSize"/>
                    <input type="hidden" th:field="${memberDTO.memberNumber}"/>
                    <input type="hidden" th:field="${memberDTO.fileProfileVO.fileNumber}"/>
                </form>
            </section>
        </section>

        <!-- footer -->
        <div th:replace="/main/footer.html:: footerFirst"></div>
    </div>

    <!-- modal -->
    <div class="modal-container modal-overlay">
        <div class="modal-flex">
            <div class="modal-wrapper">
                <div class="modal-body">
                    <h2 class="modal-title">이미지 업로드 실패</h2>
                    <div >
                        jpg, png, bmp, gif 파일만 등록할 수 있습니다.
                    </div>
                </div>
                <footer class="modal-footer">
                    <div class="btn-container">
                        <button id="confirmBtn" class="warning-btn">
                            확인
                        </button>
                    </div>
                </footer>
            </div>
        </div>
        <div class="modal-color"></div>
    </div>

</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>

<script th:inline="javascript">
    // input 태그 포커스 시 색 변화
    let flag = true;

    const $inputs = $('.input-style');

    $inputs.on('focus', function () {
        if(flag){
            $(this).css('border-color', '#7a29fa');
        }
    })

    $inputs.on('blur', function () {
        $(this).css('border-color', 'rgb(238, 238, 238)');
    })

    // 글자 수 카운트
    $('#memberIntroduction').keyup(function (e) {
        var content = $(this).val();

        if (content.length == 0 || content == '') {
            $('.text-muted').text('0 / 500');
        } else {
            $('.character-count').text(content.length + ' / 500');
        }
    });

    // 유효성 검사
    $inputs.on('blur', function () {
        validationCheck($(this));
    })

    function validationCheck(inputTag){
        if(!inputTag.val()){
            inputTag.next().show();
            inputTag.css('border-color', '#eb385e');
            flag = false;
        } else{
            inputTag.next().hide();
            inputTag.css('border-color', 'rgb(238, 238, 238)');
            flag = true;
        }
    }

    $('#saveBtn').on('click', function () {
        if(!$("input[name='memberNickname']").val()){
            $("input[name='memberNickname']").focus();
            return;
        }

        if(!$("input[name='memberPhoneNumber']").val()){
            $("input[name='memberPhoneNumber']").focus();
            return;
        }

        if(!$("input[name='memberEmail']").val()){
            $("input[name='memberEmail']").focus();
            return;
        }

        if(!$("input[name='memberInterest']").val()){
            $("input[name='memberInterest']").focus();
            return;
        }

        if(!$('textarea').val()){
            $('textarea').focus();
            return;
        }
    });

    // 모달창
    const modalContainer = document.querySelector(".modal-container");

    function openModal() {
        document.body.style.overflow = "hidden";
    };

    function closeModal() {
        document.body.style.overflow = "unset";
    }

    function modal() {
        modalContainer.style.display = "flex";
        openModal();
    }

    const $confirmBtn = $('#confirmBtn');

    $confirmBtn.on('click', function () {
        modalContainer.style.display = "none";
        closeModal();
    })

    // 프로필 사진 업로드
    $("input[type='file']").on('change', function(){

        // 업로드한 파일이 이미지 파일이 아니면 모달창을 띄운다.
        var extension = $(this).val().split(".")[1];
        if( extension == 'gif' || extension == 'png' || extension == 'bmp' || extension == 'dib'
            || extension == 'jfif' || extension == 'pjpeg' || extension == 'pjp' || extension == 'jpg'){

            // Ajax 방식으로 파일을 controller로 전송한다.
            // Ajax가 성공하면 showUploadResult 함수를 실행한다.
            let formData = new FormData();
            let file = this.files[0];

            console.log(this.files[0] + "프로필사진 화면 변환");
            formData.append("upload", file);

            $.ajax({
                url:'/fileProfile/upload',
                type:'post',
                data:formData,
                contentType:false,
                processData:false,
                success : showUploadResult
            });

        } else {
            modal();
        }
    });


    let fileName = [[${memberDTO.fileProfileVO.fileName}]]
    let fileUploadPath = [[${memberDTO.fileProfileVO.fileUploadPath}]]
    let fileUuid = [[${memberDTO.fileProfileVO.fileUuid}]]
    let fileImageCheck = [[${memberDTO.fileProfileVO.fileImageCheck}]]
    let fileSize = [[${memberDTO.fileProfileVO.fileSize}]]

    $("input[name='fileProfileVO.fileName']").val(fileName);
    $("input[name='fileProfileVO.fileUploadPath']").val(fileUploadPath);
    $("input[name='fileProfileVO.fileUuid']").val(fileUuid);
    $("input[name='fileProfileVO.fileImageCheck']").val(fileImageCheck);
    $("input[name='fileProfileVO.fileSize']").val(fileSize);
    // 화면에 썸네일을 보여준다.
    function showUploadResult(file) {
        let text = "";
        text += `<div class="thumbnail-container" data-file-size="" data-file-name="" data-file-upload-path="" data-file-uuid="">`;
        text += '<span>';
        text += '<img src="/images/diary/close.svg">';
        text += '</span>';

        /* 실제론 src에 controller로 가능 경로를 작성한다. */
        /* 썸네일의 크기는 64 * 64로 한다. */
        if(!file.fileImageCheck){
            text += `<img src=/images/noImage/no-image.jpg" width="100">`;
        }else{
            text += `<img width="100%" height="100%" style="border-radius: 100%; cursor: pointer;" src="/fileProfile/display?fileName=` + file.fileUploadPath + `/s_` + file.fileUuid + "_" + file.fileName + `">`;
        }
        text += `</div>`;

        fileName = file.fileName;
        fileUploadPath = file.fileUploadPath;
        fileUuid =  file.fileUuid;
        fileImageCheck = file.fileImageCheck;
        fileSize = file.fileSize;

        $("input[name='fileProfileVO.fileName']").val(fileName);
        $("input[name='fileProfileVO.fileUploadPath']").val(fileUploadPath);
        $("input[name='fileProfileVO.fileUuid']").val(fileUuid);
        $("input[name='fileProfileVO.fileImageCheck']").val(fileImageCheck);
        $("input[name='fileProfileVO.fileSize']").val(fileSize);

        $('#profileInputStatus').hide();
        $('.image-container').append(text);


    };

    // x를 누르면 업로드 되었던 파일을 삭제한다.
    $('.image-container').on('click', 'span', function () {
        $("input[type='file']").val("");
        const $div = $(this).closest('div');
        let fileUploadPath = $div.data('fileUploadPath');
        let fileName = $div.data('fileName') + "_" + $div.data('file-name');

        // Ajax로 업로드했던 원본 파일과 관련된 데이터를 전송한다.
        // Ajax 통신 성공시 화면을 초기상태로 되돌린다.
        $div.remove();
        $('#profileInputStatus').show();
    });




</script>

<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script th:inline="javascript">


    let memberNumber=[[${session.memberNumber}]];



</script>
<script src="/js/main/header.js" ></script>
</html>