*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}
body {
    font-family: 'Noto Sans KR', sans-serif;
}

#loginBox{
    width:808px;
    height:800px;

    margin:0 auto;
    margin-top:20px;


}
#loginBoxTitle{
    width:808px;
    height:50px;

    text-align:center;
}
#loginBoxTitle>h3{
    display:inline-block;
    width:70px;
    height:26px;

    margin:0 auto;
    margin-top:10px;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.54px;
    color: rgb(51, 51, 51);
    text-align: center;
    font-weight: bold;
}

#loginInfo{
    width:400px;
    height:700px;

    margin:0 204px 60px;
    padding:24px 20px;

}

.loginInput{
    width:360px;
    height:50px;

    margin:4px 0px 8px;
    padding:14px 14px 12px;

    outline:none;

    background-color:#fafafa;

    border-radius: 3px;
    border: 1px solid rgb(238, 238, 238);
}
.loginInput:hover{
    border:1px solid deepskyblue;
}
.loginAlertText{
    width:360px;
    height:16px;


    color: rgb(153, 153, 153);
    margin:0 0 6px;

    font-size: 12px;
    line-height: 16px;
}
#memberIdResult{
    display:none;
}
#memberPwDoubleResult{
    display:none;
}

.selectTitle{
    width:360px;
    height:16px;

    margin-top:10px;

    color: rgb(51, 51, 51);

    font-weight: bold;
    font-size:12px;
}

.selectBox{
    width:360px;
    height:41px;

    margin-top:5px;

    border-radius: 3px;
    border: 1px solid rgb(238, 238, 238);
    background-color:#ffffff;
    outline:none;
}
.selectBoxDiv{
    width:100%;
    height:100%;
}

.selectBoxImg{
    display:inline-block;
    border-radius: 100%;
    vertical-align: middle;

    display:inline-block;
    width:20px;
    height:20px;
}

/*.selectBoxImg:nth-child(1){
   !* background-image:url("app/src/main/resources/static/images/main/americaIcon.png");*!
    background-image:url("../../images/main/americaIcon.png");
}*/

/*#msComboTest{
    width:360px;
    height:41px;

    margin-top:5px;

    border-radius: 3px;
    border: 1px solid rgb(238, 238, 238);
    background-color:#ffffff;
    outline:none;
}*/

#interestingInput{
    background-color:#ffffff;
}

#radioSelect{
    width:360px;
    height:50px;
    display:flex;
}

#radioSelect>div{
    width:180px;
    height:100%;
}

#radioSelect>div>label{
    display:inline-block;
    width:100px;
    height:100%;
    margin-left:40px;

    border:1px solid rgb(238, 238, 238);
    text-align:center;
    line-height:50px;
}

input[type=radio]{
    display:none;
}

button[type=submit]{
    width:360px;
    height:56px;

    margin:44px 0px 0px;
    padding:0px 13px;

    color:#ffffff;
    background-color:#0075ef;
    border-radius: 10px;
    border:1px solid #0075ef;
}